<script>
	$(document).ready(function(){
		$(".search_btn_anchor").click(function(event){
			event.preventDefault();
			$(".large_search_bar").toggleClass('toggled');
			if ($(".large_search_bar").hasClass('toggled')) {
				$(".large_search_bar input").focus();
			}
		})
		$(".close_search").click(function(){
			$(".large_search_bar").removeClass('toggled');
		})
	})

	$(document).keyup(function(e) {
		if (e.keyCode === 27){
		if ($(".large_search_bar").hasClass('toggled')) {
			$(".large_search_bar").removeClass('toggled');
		}
		};
	});
</script>

{{!-- <script async src="/javascripts/interface.js"></script> --}}







{{#is currentProperty "en"}}

	<footer class="uk-section uk-section-secondary print-hide" style="padding-bottom:150px">
		<div class="uk-container">
			<div class="uk-grid uk-grid-large uk-child-width-1-1@s uk-child-width-1-5@m">
				<div>
					<ul class="uk-nav uk-nav-default">
						<li class="uk-nav-header">About</li>
						<li><a href="https://about.malaysiakini.com/">About Malaysiakini</a></li>
						<li><a href="https://about.malaysiakini.com/people">Staff</a></li>
						<li><a href="https://about.malaysiakini.com/jobs">Job Vacancies</a></li>
						<li><a href="https://internship.malaysiakini.com/">Internships</a></li>
					</ul>
					<ul class="uk-list">
						<li><a href="https://fgmedia.my/" class="uk-button uk-button-default uk-button-small uk-width-4-5">Advertise</a></li>
						<li><a href="https://subscription.malaysiakini.com" class="uk-button uk-button-default uk-button-small uk-width-4-5">Subscribe</a></li>
						<li><a href="https://www.malaysiakini.com/news/409777" class="uk-button uk-button-default uk-button-small uk-width-4-5">Donate</a></li>
					</ul>
				</div>
				<div>
					<ul class="uk-nav uk-nav-default">
						<li class="uk-nav-header">Digital Network</li>
						<li><a href="https://www.kinitv.com/">KiniTV</a></li>
						<li><a href="https://voiz.asia/">VOIZ Asia</a></li>
						<li><a href="https://fgmedia.my/">FG Media</a></li>
						<!--li><a href="https://www.manage4me.com/">Manage4me</a></li-->
						<li><a href="https://undi.info/">Undi.info</a></li>
						<li><a href="https://campus.malaysiakini.com/">CampusKini</a></li>
						<li><a href="https://metrics.news/">Metrics News</a></li>
						<li class="uk-nav-header">Terms of Use</li>
						<li><a href="https://about.malaysiakini.com/terms-of-service/">Terms of Service</a></li>
						<li><a href="https://about.malaysiakini.com/privacy-policy/">Privacy Policy</a></li>
					</ul>
				</div>
				<div>
					<ul class="uk-nav uk-nav-default">
						<li class="uk-nav-header">General Line</li>
						<li><a href="tel:+60377700000">+603-7770 0000</a></li>
						<li class="uk-nav-header">Subscription</li>
						<li><a href="tel:+60377700017">+603-7770 0017</a></li>
						<li><a href="mailto:subscribe@malaysiakini.com">subscribe@malaysiakini.com</a></li>
						<li class="uk-nav-header">Editorial</li>
						<li><a href="tel:+60377700002">+603-7770 0002</a></li>
						<li><a href="mailto:editor@malaysiakini.com">editor@malaysiakini.com</a></li>
					</ul>
				</div>
				<div class="uk-width-1-1@s uk-width-2-5@m">
					<ul class="uk-nav uk-nav-default">
						<li class="uk-nav-header">Location</li>
						<li><a href="https://goo.gl/maps/tA47UvqT2Tz">No. 9, Jalan 51/205A, Off Jalan Tandang, 46050 Petaling Jaya, Selangor</a></li>
						<li class="uk-nav-header">RSS Feeds</li>
						<li><a href="https://www.malaysiakini.com/en/news.rss">News</a></li>
						<li><a href="https://www.malaysiakini.com/en/column.rss">Opinions</a></li>
						<li><a href="https://www.malaysiakini.com/en/letters.rss">Letters</a></li>
						<li class="uk-nav-header">Daily News Digest</li>
					</ul>
					<form action="https://groups.google.com/group/mkini-newsletter-en/boxsubscribe" class="uk-form uk-margin-small-top">
						<div class="uk-grid uk-child-width-auto uk-grid-small">
							<div>
								<input type="email" class="uk-input uk-form-small uk-width-1-1" placeholder="Enter Email">
							</div>
							<div>
								<button type="submit" class="uk-button uk-button-primary uk-button-small uk-width-1-1">Sign up</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</footer>
	
	<div class="large_search_bar print-hide">
		<div class="uk-container" style="position: relative;">
			<div class="close_search" style="text-transform:uppercase">{{{__n "close"}}} &#10005;</div>
			<form action="/{{currentProperty}}/search">
				<label for="q" class="uk-margin-small-bottom">{{{__n "search_by"}}}</label>
				<input name="q" type="text" placeholder="{{{__n "enter_keyword"}}}..." style="border-bottom:1px solid #666">
				<button type="submit" class="uk-button uk-button-primary uk-button-small" style="background-color: #2196F3;">{{{__n "search_go"}}}</button>
			</form>
		</div>
	</div>
	
	{{!-- START OF LOGIN FORM --}}
	<div id="login-form" class="uk-modal" uk-modal>
		<div class="uk-modal-dialog uk-modal-body" style="width:380px">
			<div class="uk-margin-small-bottom">
				<button onclick="kini_login.login_with_google()" class="uk-button uk-button-secondary uk-width-1-1 uk-text-left" style="background:#df4a32"><span uk-icon="icon:google" class="uk-margin-small-right"></span> Connect with Google</button>
			</div>
			<div class="uk-margin-small-bottom">
				<button onclick="kini_login.login_with_facebook()" class="uk-button uk-button-secondary uk-width-1-1 uk-text-left" style="background:#3b5998"><span uk-icon="icon:facebook" class="uk-margin-small-right"></span> Connect with Facebook</button>
			</div>
			<div class="uk-margin-small-bottom">
				{{!-- <button onclick="kini_login.login_with_ip()" class="uk-button uk-button-secondary uk-width-1-1 uk-text-left" style="background:#acacac"><span uk-icon="icon:location" class="uk-margin-small-right"></span> Sign in with Static IP</button> --}}
				<button onclick="window.location='/auth/ip'" class="uk-button uk-button-secondary uk-width-1-1 uk-text-left" style="background:#acacac"><span uk-icon="icon:location" class="uk-margin-small-right"></span> Sign in with Static IP</button>
			</div>
			<div class="uk-margin-small-bottom">
				<div class="uk-text-center">OR</div>
			</div>
			<div class="uk-margin-small-bottom">
				<form id="login3-legacy" name="login3-legacy" style="margin:0" onsubmit="kini_login.login_with_manage4me(); return false;">
					<div class="uk-margin-small-bottom">
						<input class="uk-width-1-1 uk-input" name="loginform-username" type="text" id="loginform-username" placeholder="Username or email address" style="text-transform:lowercase;">
					</div>
					<div class="uk-margin-small-bottom">
						<input class="uk-width-1-1 uk-input" name="loginform-password" type="password" id="loginform-password" placeholder="Password">
					</div>
					<div class="uk-margin-small-bottom">
						<input type="submit" class="uk-button uk-button-primary uk-width-1-1" value="Sign in">
					</div>
				</form>
			</div>
			<div class="uk-margin">
				<div class="uk-grid">
					<div class="uk-width-auto">
						<a href="https://subscription.malaysiakini.com/register/" class="uk-button uk-button-text">Register</a>
					</div>
					<div class="uk-width-expand uk-text-right">
						<a href="https://www.manage4me.com/request_reset_pwd.php" class="uk-button uk-button-text">Reset password</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="welcome-dialog" uk-modal>
		<div class="uk-modal-dialog uk-modal-body">
			<h2 class="uk-modal-title">Welcome back, <span class="welcome-dialog" data-id="fullname" /> </h2>
			<div class="wcd-2a uk-hidden">
				<p>
					<span style="font-weight:bold">Your subscription expires on</span>
					<br />
					<span>&nbsp;&nbsp;</span><span class="welcome-dialog" data-id="expiry_date" />
				</p>			
			</div>
			<div class="wcd-2b uk-hidden">
				<p>
					<span style="font-weight:bold">Your subscription will expire soon, kindly renew before</span>
					<br />
					<span>&nbsp;&nbsp;</span><span class="welcome-dialog" data-id="expiry_date" />
				</p>
			</div>
			<div class="wcd-3 uk-hidden">
				<p>
					<span style="font-weight:bold">Your subscription is expired</span>
					<br />
					<span>&nbsp;&nbsp;</span><a href="https://subscription.malaysiakini.com/packages-renew.php">Click here to renew</a>
				</p>
			</div>
			<div class="wcd-none uk-hidden">
				<p>
					<span style="font-weight:bold">You are not subscribed to any subscription package</span>
					<br />
					<span>&nbsp;&nbsp;</span><a href="https://subscription.malaysiakini.com/packages-renew.php">Click here to subscribe now</a>
				</p>
			</div>
			<div>
				<p>
					<span style="font-weight:bold">Any questions?</span>
					<br />
					<span>&nbsp;&nbsp;Email: techsupport@malaysiakini.com</span>
					<br />
					<span>&nbsp;&nbsp;Call: +603-777-00000</span>
				</p>		
			</div>
			<p class="uk-text-right">
				<a class="uk-button uk-button-danger" type="button" href="https://subscription.malaysiakini.com/packages-renew.php">Renew</a>
				<button class="uk-button uk-button-primary" onclick="UIkit.modal('#welcome-dialog').hide();" type="button">Close</button>
			</p>
		</div>
	</div>
	<script type="text/html" class="outdated-browser-content">
		// <div class="outdated-browser" style="padding:5px;text-align:center;background-color:#ff0000;color:#ffffaa;font-size:80%;font-weight:bold">Unfortunately, your browser is too old to view this content. Please upgrade your browser.</div>
	</script>
	{{!-- END OF LOGIN FORM --}}

{{/is}}



{{#is currentProperty "my"}}
	<footer id="footer" class="uk-section uk-section-secondary print-hide">
		<div class="uk-container">
			<div class="uk-grid uk-grid-large uk-child-width-1-1@s uk-child-width-1-5@m">
				<div>
					<ul class="uk-nav uk-nav-default">
						<li class="uk-nav-header">Tentang</li>
						<li><a href="https://about.malaysiakini.com/">Tentang Malaysiakini</a></li>
						<li><a href="https://about.malaysiakini.com/people">Staf</a></li>
						<li><a href="https://about.malaysiakini.com/jobs">Jawatan Kosong</a></li>
						<li><a href="https://internship.malaysiakini.com/">Program Latihan</a></li>
					</ul>
					<ul class="uk-list">
						<li><a href="https://fgmedia.my/" class="uk-button uk-button-default uk-button-small uk-width-4-5">Pengiklanan</a></li>
						<li><a href="https://subscription.malaysiakini.com" class="uk-button uk-button-default uk-button-small uk-width-4-5">Langganan</a></li>
						<li><a href="https://www.malaysiakini.com/news/409777" class="uk-button uk-button-default uk-button-small uk-width-4-5">Sumbangan</a></li>
					</ul>
				</div>
				<div>
					<ul class="uk-nav uk-nav-default">
						<li class="uk-nav-header">Rangkaian Digital</li>
						<li><a href="https://www.kinitv.com/">KiniTV</a></li>
						<li><a href="https://voiz.asia/">VOIZ Asia</a></li>
						<li><a href="https://fgmedia.my/">FG Media</a></li>	
						<li><a href="https://undi.info/">Undi.info</a></li>
						<li><a href="https://campus.malaysiakini.com/">CampusKini</a></li>
						<li><a href="https://metrics.news/">Metrics News</a></li>
						<li class="uk-nav-header">Terms of Use</li>
						<li><a href="https://about.malaysiakini.com/terms-of-service/">Terms of Service</a></li>
						<li><a href="https://about.malaysiakini.com/privacy-policy/">Privacy Policy</a></li>
					</ul>
				</div>
				<div>
					<ul class="uk-nav uk-nav-default">
						<li class="uk-nav-header">Pertanyaan Umum</li>
						<li><a href="tel:+60377700000">+603-7770 0000</a></li>
						<li class="uk-nav-header">Langganan</li>
						<li><a href="tel:+60377700017">+603-7770 0017</a></li>
						<li><a href="/cdn-cgi/l/email-protection#b3c0c6d1c0d0c1dad1d6f3ded2dfd2cac0dad2d8daddda9dd0dcde"><span class="__cf_email__" data-cfemail="01727463726273686364416c606d60787268606a686f682f626e6c">[email&#160;protected]</span></a></li>
						<li class="uk-nav-header">Editorial</li>
						<li><a href="tel:+60377700002">+603-7770 0002</a></li>
						<li><a href="/cdn-cgi/l/email-protection#eb8e8f829f8499ab868a878a9298828a80828582c5888486"><span class="__cf_email__" data-cfemail="f99c9d908d968bb994989598808a909892909790d79a9694">[email&#160;protected]</span></a></li>
					</ul>
				</div>
				<div class="uk-width-1-1@s uk-width-2-5@m">
					<ul class="uk-nav uk-nav-default">
						<li class="uk-nav-header">Lokasi</li>
						<li><a href="https://goo.gl/maps/tA47UvqT2Tz">No. 9, Jalan 51/205A, Off Jalan Tandang, 46050 Petaling Jaya, Selangor</a></li>
						<li class="uk-nav-header">RSS Feeds</li>
						<li><a href="https://www.malaysiakini.com/my/news.rss">Berita</a></li>
						<li><a href="https://www.malaysiakini.com/my/column.rss">Kolum</a></li>
						<li><a href="https://www.malaysiakini.com/my/letters.rss">Surat</a></li>
						<li class="uk-nav-header">Daily News Digest</li>
					</ul>
					<form action="https://groups.google.com/group/mkini-newsletter-en/boxsubscribe" class="uk-form uk-margin-small-top">
						<div class="uk-grid uk-child-width-auto uk-grid-small">
							<div>
								<input type="email" class="uk-input uk-form-small uk-width-1-1" placeholder="Alamat Emel">
							</div>
							<div>
								<button type="submit" class="uk-button uk-button-primary uk-button-small uk-width-1-1">Daftar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</footer>	
	<div class="large_search_bar print-hide">
		<div class="uk-container" style="position: relative;">
			<div class="close_search">Close &#10005;</div>
			<form action="/my/search">
				<label for="q" class="uk-margin-small-bottom">Cari mengikut artikel, wartawan atau kolumnis</label>
				<input name="q" type="text" placeholder="Cari berita..." style="border-bottom:1px solid #666">
				<button type="submit" class="uk-button uk-button-primary uk-button-small uk-border-rounded" style="background-color: #2196F3;">Cari</button>
			</form>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/ms-my.js"></script>
{{/is}}




{{#is currentProperty "zh"}}

	<footer class="uk-section uk-section-secondary print-hide" style="padding-bottom:150px">
		<div class="uk-container">
			<div class="uk-grid uk-grid-large uk-child-width-1-1@s uk-child-width-1-5@m">
				<div>
					<ul class="uk-nav uk-nav-default">
						<li class="uk-nav-header">关于《当今大马》</li>
						<li><a href="https://about.malaysiakini.com/">公司简介</a></li>
						<li><a href="https://about.malaysiakini.com/people">雇员资讯</a></li>
						<li><a href="https://about.malaysiakini.com/jobs">工作机会</a></li>
						<li><a href="https://internship.malaysiakini.com/">实习机会</a></li>
					</ul>
					<ul class="uk-list">
						<li><a href="https://fgmedia.my/" class="uk-button uk-button-default uk-button-small uk-width-4-5">想要打广告</a></li>
						<li><a href="https://subscription.malaysiakini.com/zh/" class="uk-button uk-button-default uk-button-small uk-width-4-5">订阅</a></li>
						<li><a href="https://www.malaysiakini.com/news/409777" class="uk-button uk-button-default uk-button-small uk-width-4-5">捐款支持</a></li>
					</ul>
				</div>
				<div>
					<ul class="uk-nav uk-nav-default">
						<li class="uk-nav-header">姐妹网站</li>
						<li><a href="https://www.kinitv.com/cn">KiniTV</a></li>
						<li><a href="https://voiz.asia/zh">VOIZ Asia</a></li>
						<li><a href="https://fgmedia.my/">FG Media</a></li>
						<li><a href="https://undi.info/">Undi.info</a></li>
						<li><a href="https://campus.malaysiakini.com/">CampusKini</a></li>
						<li><a href="https://metrics.news/">Metrics News</a></li>
						<li class="uk-nav-header">使用须知</li>
						<li><a href="https://about.malaysiakini.com/terms-of-service/">服务条款</a></li>
						<li><a href="https://about.malaysiakini.com/privacy-policy/">隐私政策</a></li>
					</ul>
				</div>
				<div>
					<ul class="uk-nav uk-nav-default">
						<li class="uk-nav-header">总线</li>
						<li><a href="tel:+60377700000">+603-7770 0000</a></li>
						<li class="uk-nav-header">订阅部</li>
						<li><a href="tel:+60377700017">+603-7770 0017</a></li>
						<li><a href="mailto:subscribe@malaysiakini.com" target="_blank">subscribe@malaysiakini.com</a></li>
						<li class="uk-nav-header">编辑部（中文版）</li>
						<li><a href="tel:+60377700002">+603-7770 0002</a></li>
						<li><a href="mailto:chinese-editor@malaysiakini.com" target="_blank">chinese-editor@malaysiakini.com</a></li>
					</ul>
				</div>
		<div class="uk-width-1-1@s uk-width-2-5@m">
					<ul class="uk-nav uk-nav-default">
						<li class="uk-nav-header">地址</li>
						<li><a href="https://goo.gl/maps/tA47UvqT2Tz">No. 9, Jalan 51/205A, Off Jalan Tandang, 46050 Petaling Jaya, Selangor</a></li>
						<li class="uk-nav-header">RSS订阅</li>
						<li><a href="https://www.malaysiakini.com/zh/news.rss">新闻</a></li>
						<li><a href="https://www.malaysiakini.com/zh/column.rss">专栏</a></li>
						<li><a href="https://www.malaysiakini.com/zh/letters.rss">来函</a></li>
						<li class="uk-nav-header">每日文摘</li>
					</ul>
					<form action="https://groups.google.com/group/mkini-newsletter-en/boxsubscribe" class="uk-form uk-margin-small-top">
						<div class="uk-grid uk-child-width-auto uk-grid-small">
							<div>
								<input type="email" class="uk-input uk-form-small uk-width-1-1" placeholder="输入电邮">
							</div>
							<div>
								<button type="submit" class="uk-button uk-button-primary uk-button-small uk-width-1-1">注册</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</footer>
	
	{{!-- START OF LOGIN FORM --}}
	<div id="login-form" data-language="zh" class="uk-modal" uk-modal>
		<div class="uk-modal-dialog uk-modal-body" style="width:380px">
			<button class="uk-modal-close-default" type="button" uk-close></button>
			<h2 class="uk-modal-title uk-margin-remove-top uk-margin-small-bottom">登录</h2>
			<div class="uk-margin-small-bottom">
				<form id="login3-legacy" name="login3-legacy" style="margin:0" onsubmit="kini_login.login_with_manage4me(); return false;">
					<div class="uk-margin-small-bottom">
						<input class="uk-width-1-1 uk-input" name="loginform-username" type="text" id="loginform-username" placeholder="用户名 / 电子邮箱" style="text-transform: lowercase;">
					</div>
					<div class="uk-margin-small-bottom">
						<input class="uk-width-1-1 uk-input" name="loginform-password" type="password" id="loginform-password" placeholder="密码">
					</div>
					<div class="uk-margin-small-bottom">
						<input type="submit" class="uk-button uk-button-primary uk-width-1-1" value="登录">
					</div>
				</form>
			</div>
			<div class="uk-margin-small">
				<div class="uk-grid uk-grid-collapse uk-child-width-1-2">
					<div>
						<a href="https://subscription.malaysiakini.com/zh/" class="uk-button uk-button-text">立即订阅</a>
					</div>
					<div class="uk-text-right">
						<a href="https://www.manage4me.com/request_reset_pwd.php" class="uk-button uk-button-text">重设密码</a>
					</div>
				</div>
			</div>
			<hr class="uk-divider-icon uk-margin">
			<button onclick="kini_login.login_with_google()" class="uk-button uk-button-secondary uk-width-1-1 uk-text-left uk-margin-small-bottom" style="background:#df4a32"><span uk-icon="icon:google" class="uk-margin-small-right"></span> 以谷歌账户登录</button>
			<button onclick="kini_login.login_with_facebook()" class="uk-button uk-button-secondary uk-width-1-1 uk-text-left uk-margin-small-bottom" style="background:#3b5998"><span uk-icon="icon:facebook" class="uk-margin-small-right"></span> 以面子书账户登录</button>
			{{!-- <button onclick="kini_login.login_with_ip()" class="uk-button uk-button-secondary uk-width-1-1 uk-text-left" style="background:#acacac"><span uk-icon="icon:location" class="uk-margin-small-right"></span> 以 Static IP 登录</button> --}}
			<button onclick="window.location='/auth/ip'" class="uk-button uk-button-secondary uk-width-1-1 uk-text-left" style="background:#acacac"><span uk-icon="icon:location" class="uk-margin-small-right"></span> 以 Static IP 登录</button>
			{{!-- <button onclick="kini_login.login_with_ip()" class="uk-button uk-button-secondary uk-width-1-1 uk-text-left" style="background:#acacac"><span uk-icon="icon:location" class="uk-margin-small-right"></span> Sign in with Static IP</button> --}}
			{{!-- <button onclick="window.location='/auth/ip'" class="uk-button uk-button-secondary uk-width-1-1 uk-text-left" style="background:#acacac"><span uk-icon="icon:location" class="uk-margin-small-right"></span> Sign in with Static IP</button> --}}

		</div>
	</div>
	<div id="welcome-dialog" uk-modal>
		<div class="uk-modal-dialog uk-modal-body">
			<h2 class="uk-modal-title">Welcome back, <span class="welcome-dialog" data-id="fullname" /> </h2>
			<div class="wcd-2a uk-hidden">
				<p>
					<span style="font-weight:bold">Your subscription expires on</span>
					<br />
					<span>&nbsp;&nbsp;</span><span class="welcome-dialog" data-id="expiry_date" />
				</p>			
			</div>
			<div class="wcd-2b uk-hidden">
				<p>
					<span style="font-weight:bold">Your subscription will expire soon, kindly renew before</span>
					<br />
					<span>&nbsp;&nbsp;</span><span class="welcome-dialog" data-id="expiry_date" />
				</p>
			</div>
			<div class="wcd-3 uk-hidden">
				<p>
					<span style="font-weight:bold">Your subscription is expired</span>
					<br />
					<span>&nbsp;&nbsp;</span><a href="https://subscription.malaysiakini.com/packages-renew.php">Click here to renew</a>
				</p>
			</div>
			<div class="wcd-none uk-hidden">
				<p>
					<span style="font-weight:bold">You are not subscribed to any subscription package</span>
					<br />
					<span>&nbsp;&nbsp;</span><a href="https://subscription.malaysiakini.com/packages-renew.php">Click here to subscribe now</a>
				</p>
			</div>
			<div>
				<p>
					<span style="font-weight:bold">Any questions?</span>
					<br />
					<span>&nbsp;&nbsp;Email: techsupport@malaysiakini.com</span>
					<br />
					<span>&nbsp;&nbsp;Call: +603-777-00000</span>
				</p>		
			</div>
			<p class="uk-text-right">
				<a class="uk-button uk-button-danger" type="button" href="https://subscription.malaysiakini.com/packages-renew.php">Renew</a>
				<button class="uk-button uk-button-primary" onclick="UIkit.modal('#welcome-dialog').hide();" type="button">Close</button>
			</p>
		</div>
	</div>
	<script type="text/html" class="outdated-browser-content">
		// <div class="outdated-browser" style="padding:5px;text-align:center;background-color:#ff0000;color:#ffffaa;font-size:80%;font-weight:bold">Unfortunately, your browser is too old to view this content. Please upgrade your browser.</div>
	</script>
	{{!-- END OF LOGIN FORM --}}
	
	<!-- Search bar -->
	<div class="large_search_bar print-hide">
		<div class="uk-container" style="position: relative;">
			<div class="close_search">关闭 &#10005;</div>
			<form action="/zh/search">
				<label for="q" class="uk-margin-small-bottom">按文章，记者或专栏作家搜索</label>
				<div uk-grid>
					<div class="uk-width-auto">
						<input name="q" type="text" placeholder="输入关键字" style="border-bottom:1px solid #666">
					</div>
					<div class="uk-width-auto">
						<select name="category" class="uk-select uk-form-large">
							<option value="">全部</option>
							<option value="news">新闻</option>
							<option value="columns">专栏</option>
							<option value="bulletin">公告</option>
							<option value="letters">来函</option>
						</select>
					</div>
					<div class="uk-width-auto">
						<button type="submit" class="uk-button uk-button-primary uk-border-rounded" style="background-color: #2196F3;">搜索</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/zh-cn.js"></script>
	
	<!--google analytic manual add - 20150819-->
	<script>
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
		ga('create', 'UA-66502958-1', 'auto');
		ga('send', 'pageview');
	</script>

{{/is}}

<script type="text/javascript" src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-firestore.js"></script>
<script type="text/javascript" src="https://api.mkini.net/static/inc.js"></script>
<script src="https://mp.mkini.net/meter_paywall.js"></script>


<script type="text/javascript">
	
	$(document).ready(function(){

		var cookieAuthIpInvalid = getCookie('oooooAuthIpInvalid');
		if(cookieAuthIpInvalid == '1'){
			alert('Your IP Address not valid for Static IP Login');
			document.cookie = "oooooAuthIpInvalid=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
		}
		
		var cookieAuthInfo = getCookie('oooooAuthInfo');
		if(cookieAuthInfo != ''){
			try {
				cookieAuthInfo = JSON.parse(cookieAuthInfo);
				console.log('cookieAuthInfo',cookieAuthInfo);
				$('.login-before').addClass('uk-hidden');
				$('.login-after').removeClass('uk-hidden');
				$(".login-after logindata[tag='fullname']").html(cookieAuthInfo.username);
				$(".login-after logindata[tag='expirydate']").html(moment(cookieAuthInfo.expiry_date).format("D MMM YYYY"));
				$(".login-after li a[onclick='kini_login.logout()']").attr('href','/auth/ip/logout').attr('onclick','');
			} catch(err) {
				console.error(err)
			}
		}

	})

	function getCookie(name) {
		var value = "; " + document.cookie;
		var parts = value.split("; " + name + "=");
		if (parts.length == 2) return parts.pop().split(";").shift();
	}

</script>

<style>
	#blockUI{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.7);
		display: none;
		z-index: 99999;
	}

	#blockUI .blockUI-content{
		background: white;
		margin:0 auto;
		max-width: 500px;
		padding: 30px;
		color: black;
		font-size: 20px;
	}

	#blockUI .blockUI-spinner{
		display: inline-block;
		margin-left: 20px;
	}
</style>
<div id="blockUI" class="print-hide">
	<div class="blockUI-content">
		<span></span><div class="blockUI-spinner" uk-spinner></div>
	</div>
</div>
<script>
	UIkit.modal.blockUI = function(content){
		$(".blockUI-content span").html(content);
		$("#blockUI").show();
		return $('#blockUI');
	}
</script>