<!doctype html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        body { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <h2 class="text-center">Welcome {{user}}!</h2>

    <div class="jumbotron text-center">

        <h3>Please choose publisher below:</h3>
        <div class="card-columns">
            {{#each publishers}}
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <p class="card-text">
                            <a href="/d/{{this.pub_id}}">{{this.pub_code}}</a>
                        </p>
                    </div>
                </div>            
            {{/each}}
        </div>

    </div>

</div>
</body>
</html> 
