<!DOCTYPE html>
<html>
  <head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>

    {{!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> --}}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">



    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
	  <div class="container-fluid h-100">
		  <div class="row h-100">
			  <div class="fixed-top main-menu">
					<nav class="navbar navbar-expand navbar-light flex-md-column flex-row align-items-start py-2">
						<div class="collapse navbar-collapse align-items-start">
							<ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
								<li class="nav-item">
									<a class="navbar-brand main-logo" href="#">
										<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 170.7 24.2" style="enable-background:new 0 0 170.7 24.2;" xml:space="preserve">
										<style type="text/css">
											.st0{fill:#007746;}
											.st1{fill:#00BA78;}
										</style>
										<g>
											<g>
												<path class="st0" d="M23,13.1c0,0,0,3.2,0,4.2c0,0.9-0.4,2.8-2.3,2.8s-2.3-1.1-2.3-2.3C18.5,16.6,18.9,13.5,23,13.1z"/>
												<path class="st1" d="M5.6,11C3.2,11,1,10.1,1,5.5s4.1-4.7,6-4.7s3.8,0.5,6.5,3.6S18,9.7,18,9.7s0,4.3,0,6.9s1.5,3.2,3.2,3.2
													s1.8-2.3,1.8-6.6c0,0,4.6,0.5,4.6,3.9s-0.6,6.5-5.6,6.5s-5.6-2.1-6.1-2.7s-5.4-6.3-5.4-6.3V8.1l-2.4,2.4L5.6,11z"/>
												<path class="st0" d="M5.8,10.8c0,0,0-3.2,0-4.2s0.4-2.8,2.3-2.8s2.3,1.1,2.3,2.3S10,10.3,5.8,10.8z"/>
												<g>
													<g>
														<path d="M23,24.2h-2c-1.5,0-3-0.5-4.3-1.4c-0.5-0.3-0.9-0.8-1.4-1.3l-4.2-5l0,2.1c0,3.1-2.5,5.6-5.6,5.6c-3.1,0-5.6-2.5-5.6-5.6
															V5.7C0,2.6,2.6,0,5.7,0h1.9c1.6,0,3,0.5,4.3,1.4c0.5,0.3,0.9,0.8,1.4,1.3l4.2,5.1l0-2.2c0-3.1,2.5-5.6,5.6-5.6
															c3.1,0,5.6,2.5,5.6,5.6v12.9C28.7,21.6,26.2,24.2,23,24.2z M9.6,12.2l7,8.3c0.4,0.4,0.7,0.8,1.1,1c1,0.7,2.2,1.1,3.4,1.1h2
															c2.3,0,4.1-1.9,4.1-4.1V5.6c0-2.2-1.8-4-4-4c-2.2,0-4,1.8-4,4l0,6.4l-7-8.3c-0.4-0.4-0.7-0.8-1.1-1c-1-0.7-2.2-1.1-3.4-1.1H5.7
															c-2.3,0-4.1,1.9-4.1,4.1v12.9c0,2.2,1.8,4,4,4c2.2,0,4-1.8,4-4L9.6,12.2z"/>
													</g>
													<g>
														<path d="M20.7,20.9c-1.7,0-3.2-1.4-3.2-3.2h1.6c0,0.9,0.7,1.6,1.6,1.6c0.9,0,1.6-0.7,1.6-1.6V13h1.6v4.8
															C23.9,19.5,22.5,20.9,20.7,20.9z"/>
													</g>
													<g>
														<path d="M28.7,17.8h-1.6c0-2.2-1.8-4-4-4c-2.2,0-4,1.8-4,4l-1.6,0V5.6c0-3.1,2.5-5.6,5.6-5.6c3.1,0,5.6,2.5,5.6,5.6V17.8z
															 M23.1,1.6c-2.2,0-4,1.8-4,4v8.3c1-1.1,2.4-1.7,4-1.7c1.6,0,3,0.7,4,1.7V5.6C27.2,3.4,25.4,1.6,23.1,1.6z"/>
													</g>
													<g>
														<g>
															<path d="M6.4,11.2H4.8V6.4c0-1.7,1.4-3.2,3.2-3.2c1.7,0,3.2,1.4,3.2,3.2H9.6c0-0.9-0.7-1.6-1.6-1.6c-0.9,0-1.6,0.7-1.6,1.6
																V11.2z"/>
														</g>
														<g>
															<path d="M5.6,24.2c-3.1,0-5.6-2.5-5.6-5.6V6.4h1.6c0,2.2,1.8,4,4,4c2.2,0,4-1.8,4-4l1.6,0v12.2C11.2,21.7,8.7,24.2,5.6,24.2z
																 M1.6,10.3v8.3c0,2.2,1.8,4,4,4c2.2,0,4-1.8,4-4v-8.3c-1,1.1-2.4,1.7-4,1.7C4,12,2.6,11.3,1.6,10.3z"/>
														</g>
													</g>
												</g>
											</g>
											<g>
												<g>
													<path d="M40.4,8c0-0.7,0.6-1.3,1.3-1.3s1.3,0.6,1.3,1.3v0.6c0.7-1.1,1.8-2,3.6-2c2.6,0,4.1,1.7,4.1,4.4v6.1
														c0,0.7-0.6,1.3-1.3,1.3s-1.3-0.6-1.3-1.3v-5.3c0-1.8-0.9-2.8-2.5-2.8c-1.5,0-2.6,1.1-2.6,2.9v5.3c0,0.7-0.6,1.3-1.3,1.3
														c-0.7,0-1.3-0.6-1.3-1.3V8z"/>
													<path d="M59.2,18.6c-3.3,0-5.9-2.4-5.9-6v0c0-3.3,2.3-6,5.6-6c3.7,0,5.5,3,5.5,5.7c0,0.7-0.6,1.3-1.2,1.3h-7.2
														c0.3,1.9,1.6,2.9,3.3,2.9c1.1,0,2-0.4,2.7-1c0.2-0.2,0.4-0.2,0.7-0.2c0.6,0,1,0.5,1,1.1c0,0.3-0.2,0.6-0.3,0.8
														C62.3,18,61,18.6,59.2,18.6z M61.8,11.8c-0.2-1.7-1.2-3-2.9-3c-1.6,0-2.7,1.2-3,3H61.8z"/>
													<path d="M69.2,17.4l-3.1-8.8c-0.1-0.2-0.1-0.5-0.1-0.7c0-0.6,0.5-1.2,1.3-1.2c0.7,0,1.1,0.4,1.3,1l2.2,7l2.2-7
														c0.2-0.6,0.7-1,1.4-1h0.2c0.7,0,1.2,0.4,1.4,1l2.3,7l2.2-7c0.2-0.6,0.6-1,1.3-1c0.7,0,1.2,0.6,1.2,1.2c0,0.2-0.1,0.5-0.1,0.6
														l-3.1,8.8c-0.3,0.8-0.8,1.2-1.5,1.2h-0.1c-0.7,0-1.2-0.4-1.4-1.1l-2.2-6.8l-2.3,6.8c-0.2,0.8-0.8,1.1-1.4,1.1h-0.1
														C70,18.6,69.4,18.2,69.2,17.4z"/>
													<path d="M84.8,17.2c-0.3-0.2-0.5-0.5-0.5-0.9c0-0.6,0.5-1.1,1.1-1.1c0.2,0,0.4,0.1,0.6,0.2c1.1,0.7,2.3,1.1,3.3,1.1
														c1.1,0,1.8-0.5,1.8-1.2v0c0-0.9-1.2-1.2-2.6-1.6c-1.7-0.5-3.6-1.2-3.6-3.4v0c0-2.2,1.8-3.5,4.1-3.5c1.2,0,2.5,0.3,3.6,0.9
														c0.4,0.2,0.6,0.5,0.6,1c0,0.6-0.5,1.1-1.1,1.1c-0.2,0-0.3,0-0.5-0.1c-0.9-0.5-1.9-0.8-2.7-0.8c-1,0-1.6,0.5-1.6,1.1v0
														c0,0.8,1.2,1.2,2.6,1.6c1.7,0.5,3.6,1.3,3.6,3.4v0c0,2.4-1.9,3.6-4.3,3.6C87.7,18.6,86.1,18.1,84.8,17.2z"/>
													<path d="M95.5,12.7L95.5,12.7c0-3.3,2.5-6.1,6-6.1c1.8,0,3.1,0.6,4,1.4c0.2,0.2,0.4,0.5,0.4,0.9c0,0.7-0.5,1.2-1.2,1.2
														c-0.3,0-0.6-0.1-0.8-0.3c-0.7-0.6-1.4-1-2.5-1c-1.9,0-3.3,1.7-3.3,3.7v0c0,2,1.4,3.7,3.4,3.7c1,0,1.9-0.4,2.6-1
														c0.2-0.1,0.4-0.3,0.7-0.3c0.6,0,1.1,0.5,1.1,1.2c0,0.3-0.1,0.6-0.4,0.8c-1,1-2.3,1.6-4.2,1.6C98,18.6,95.5,15.9,95.5,12.7z"/>
													<path d="M108.6,8c0-0.7,0.6-1.3,1.3-1.3c0.7,0,1.3,0.6,1.3,1.3v1.2c0.6-1.4,1.7-2.5,2.9-2.5c0.8,0,1.3,0.5,1.3,1.3
														c0,0.7-0.5,1.2-1,1.3c-1.9,0.3-3.2,1.8-3.2,4.5v3.4c0,0.7-0.6,1.3-1.3,1.3c-0.7,0-1.3-0.6-1.3-1.3V8z"/>
													<path d="M116.2,15L116.2,15c0-2.5,1.9-3.7,4.8-3.7c1.3,0,2.2,0.2,3.1,0.5v-0.3c0-1.6-1-2.5-2.9-2.5c-1,0-1.8,0.2-2.5,0.5
														c-0.2,0-0.3,0.1-0.4,0.1c-0.6,0-1.1-0.5-1.1-1.1c0-0.5,0.3-0.9,0.7-1c1.1-0.4,2.2-0.7,3.7-0.7c1.7,0,3,0.5,3.8,1.3
														c0.9,0.8,1.2,2,1.2,3.6v5.7c0,0.7-0.6,1.3-1.3,1.3c-0.8,0-1.3-0.5-1.3-1.1v-0.4c-0.8,0.9-2,1.7-3.7,1.7
														C118.2,18.6,116.2,17.4,116.2,15z M124.1,14.2v-0.8c-0.7-0.3-1.6-0.5-2.6-0.5c-1.7,0-2.7,0.7-2.7,1.9v0c0,1.1,1,1.7,2.2,1.7
														C122.8,16.7,124.1,15.7,124.1,14.2z"/>
													<path d="M130.4,9.1h-0.5c-0.6,0-1.1-0.5-1.1-1.1c0-0.6,0.5-1.1,1.1-1.1h0.5V6.1c0-1.3,0.3-2.2,0.9-2.8c0.6-0.6,1.5-0.9,2.6-0.9
														c0.5,0,1,0,1.3,0.1c0.5,0.1,0.9,0.5,0.9,1.1c0,0.6-0.5,1.1-1.1,1.1c-0.2,0-0.4,0-0.5,0c-1,0-1.5,0.5-1.5,1.7v0.6h2
														c0.6,0,1.1,0.5,1.1,1.1c0,0.6-0.5,1.1-1.1,1.1h-2v8c0,0.7-0.6,1.3-1.3,1.3c-0.7,0-1.3-0.6-1.3-1.3V9.1z"/>
													<path d="M138.5,15.2V9.1h-0.4c-0.6,0-1.1-0.5-1.1-1.1s0.5-1.1,1.1-1.1h0.4v-2c0-0.7,0.6-1.3,1.3-1.3c0.7,0,1.3,0.6,1.3,1.3v2h2.1
														c0.6,0,1.2,0.5,1.2,1.1s-0.5,1.1-1.2,1.1h-2.1v5.6c0,1,0.5,1.4,1.4,1.4c0.3,0,0.6-0.1,0.7-0.1c0.6,0,1.1,0.5,1.1,1.1
														c0,0.5-0.3,0.9-0.7,1c-0.6,0.2-1.1,0.3-1.8,0.3C139.9,18.6,138.5,17.7,138.5,15.2z"/>
													<path d="M148.2,15.2c0.9,0,1.5,0.7,1.5,1.5V17c0,0.8-0.7,1.5-1.5,1.5c-0.9,0-1.5-0.7-1.5-1.5v-0.2
														C146.7,15.9,147.3,15.2,148.2,15.2z"/>
													<path d="M152.8,3.8c0-0.8,0.7-1.3,1.5-1.3s1.5,0.5,1.5,1.3v0.1c0,0.8-0.7,1.3-1.5,1.3s-1.5-0.5-1.5-1.3V3.8z M153,8
														c0-0.7,0.6-1.3,1.3-1.3s1.3,0.6,1.3,1.3v9.1c0,0.7-0.6,1.3-1.3,1.3c-0.7,0-1.3-0.6-1.3-1.3V8z"/>
													<path d="M158.4,12.7L158.4,12.7c0-3.3,2.6-6.1,6.1-6.1c3.5,0,6.1,2.7,6.1,6v0c0,3.3-2.6,6-6.2,6C161,18.6,158.4,15.9,158.4,12.7z
														 M168.1,12.7L168.1,12.7c0-2.1-1.5-3.7-3.5-3.7c-2.1,0-3.5,1.7-3.5,3.7v0c0,2,1.5,3.7,3.5,3.7C166.7,16.3,168.1,14.7,168.1,12.7z
														"/>
												</g>
											</g>
										</g>
										</svg>
										<br /><strong class="logo-text">ADMIN</strong>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/user">
										<span class="nav-icon"><svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="user" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-user fa-w-14"><path fill="currentColor" d="M313.6 288c-28.7 0-42.5 16-89.6 16-47.1 0-60.8-16-89.6-16C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4zM416 464c0 8.8-7.2 16-16 16H48c-8.8 0-16-7.2-16-16v-41.6C32 365.9 77.9 320 134.4 320c19.6 0 39.1 16 89.6 16 50.4 0 70-16 89.6-16 56.5 0 102.4 45.9 102.4 102.4V464zM224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm0-224c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96z" class=""></path></svg></span> User Management
									</a>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
										<span class="nav-icon"><svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="globe" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" class="svg-inline--fa fa-globe fa-w-16"><path fill="currentColor" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm193.2 152h-82.5c-9-44.4-24.1-82.2-43.2-109.1 55 18.2 100.2 57.9 125.7 109.1zM336 256c0 22.9-1.6 44.2-4.3 64H164.3c-2.7-19.8-4.3-41.1-4.3-64s1.6-44.2 4.3-64h167.4c2.7 19.8 4.3 41.1 4.3 64zM248 40c26.9 0 61.4 44.1 78.1 120H169.9C186.6 84.1 221.1 40 248 40zm-67.5 10.9c-19 26.8-34.2 64.6-43.2 109.1H54.8c25.5-51.2 70.7-90.9 125.7-109.1zM32 256c0-22.3 3.4-43.8 9.7-64h90.5c-2.6 20.5-4.2 41.8-4.2 64s1.5 43.5 4.2 64H41.7c-6.3-20.2-9.7-41.7-9.7-64zm22.8 96h82.5c9 44.4 24.1 82.2 43.2 109.1-55-18.2-100.2-57.9-125.7-109.1zM248 472c-26.9 0-61.4-44.1-78.1-120h156.2c-16.7 75.9-51.2 120-78.1 120zm67.5-10.9c19-26.8 34.2-64.6 43.2-109.1h82.5c-25.5 51.2-70.7 90.9-125.7 109.1zM363.8 320c2.6-20.5 4.2-41.8 4.2-64s-1.5-43.5-4.2-64h90.5c6.3 20.2 9.7 41.7 9.7 64s-3.4 43.8-9.7 64h-90.5z" class=""></path></svg></span> Webhook
									</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="/webhook/asset">Asset</a>
										<a class="dropdown-item" href="/webhook/story">Story</a>
									</div>
								</li>
								<li class="nav-item">
					                <a class="nav-link" href="/logger">
					                	<span class="nav-icon">
					                		<svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="database" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-database fa-w-14"><path fill="currentColor" d="M224 32c106 0 192 28.75 192 64v32c0 35.25-86 64-192 64S32 163.25 32 128V96c0-35.25 86-64 192-64m192 149.5V224c0 35.25-86 64-192 64S32 259.25 32 224v-42.5c41.25 29 116.75 42.5 192 42.5s150.749-13.5 192-42.5m0 96V320c0 35.25-86 64-192 64S32 355.25 32 320v-42.5c41.25 29 116.75 42.5 192 42.5s150.749-13.5 192-42.5m0 96V416c0 35.25-86 64-192 64S32 451.25 32 416v-42.5c41.25 29 116.75 42.5 192 42.5s150.749-13.5 192-42.5M224 0C145.858 0 0 18.801 0 96v320c0 77.338 146.096 96 224 96 78.142 0 224-18.801 224-96V96c0-77.338-146.096-96-224-96z" class=""></path></svg>
					                	</span>Logger
					                </a>
					            </li>								
								{{!-- <li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
										<span class="nav-icon"><svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="database" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-database fa-w-14"><path fill="currentColor" d="M224 32c106 0 192 28.75 192 64v32c0 35.25-86 64-192 64S32 163.25 32 128V96c0-35.25 86-64 192-64m192 149.5V224c0 35.25-86 64-192 64S32 259.25 32 224v-42.5c41.25 29 116.75 42.5 192 42.5s150.749-13.5 192-42.5m0 96V320c0 35.25-86 64-192 64S32 355.25 32 320v-42.5c41.25 29 116.75 42.5 192 42.5s150.749-13.5 192-42.5m0 96V416c0 35.25-86 64-192 64S32 451.25 32 416v-42.5c41.25 29 116.75 42.5 192 42.5s150.749-13.5 192-42.5M224 0C145.858 0 0 18.801 0 96v320c0 77.338 146.096 96 224 96 78.142 0 224-18.801 224-96V96c0-77.338-146.096-96-224-96z" class=""></path></svg></span> Logger
									</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="/logger/activity">Activity</a>
										<a class="dropdown-item" href="/logger/asset">Asset</a>
										<a class="dropdown-item" href="/logger/story">Story</a>
									</div>
								</li> --}}
								<li class="nav-item">
									<a class="nav-link" href="/d">
										<span class="fa fa-exchange-alt" style="color: white; display: inline-block;"></span>
									</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>


    			<div class="col content-container bg-faded py-3">
					<h1>{{title}}</h1>

    				<div class="card-block p-0">

						<div id="toolbar">
							<button class="btn btn-primary float-right" data-toggle="modal" data-target="#useraddModal">Add User</button>
						</div>

						<table class="table table-bordered table-definition mb-5" data-toggle="table" data-pagination="true" data-search="true" data-show-refresh="true" data-toolbar="#toolbar">

						    <thead class="">
						        <tr>
						            <th></th>
						            <th data-sortable="true">Name</th>
						            <th data-sortable="true">Registration Date</th>
						            <th>Phone No.</th>
						            <th>E-mail address</th>
					            	{{#each perm}}
					            		<th id="perm_{{this.id}}">{{this.name}}</th>	
					            	{{/each}}
						        </tr>
						    </thead>
						    <tbody>
					        	{{#each users.rows as |user userId|}}

					        		<tr class="user_{{user.user_id}}">
						        		<td>
						        			<span class="fa fa-edit fa-2x" data-toggle="modal" data-target="#usereditModal" onclick="getDetailsWithId({{JSONstringify this}})"></span>
						        		</td>
							            <td>{{user.name}}</td>
							            <td>
							            	{{#if user.datetime_pub}}
							            		{{moment user.datetime_pub format="MM-DD-YYYY"}} 
							            	{{/if}}
							            </td>
							            <td>{{user.phone_1}}</td>
							            <td>{{user.email}}</td>

										<td class="permission_level_1 text-center">
											{{#contains user.level 1}}
												<span class="fa fa-check fa-2x"></span>
											{{else}}
												<span class="fa fa-times fa-2x"></span>
											{{/contains}}
										</td>
										<td class="permission_level_2 text-center">
											{{#contains user.level 2}}
												<span class="fa fa-check fa-2x"></span>
											{{else}}
												<span class="fa fa-times fa-2x"></span>
											{{/contains}}
										</td>
										<td class="permission_level_3 text-center">
											{{#contains user.level 3}}
												<span class="fa fa-check fa-2x"></span>
											{{else}}
												<span class="fa fa-times fa-2x"></span>
											{{/contains}}
										</td>
										<td class="permission_level_4 text-center">
											{{#contains user.level 4}}
												<span class="fa fa-check fa-2x"></span>
											{{else}}
												<span class="fa fa-times fa-2x"></span>
											{{/contains}}
										</td>
										<td class="permission_level_5 text-center">
											{{#contains user.level 5}}
												<span class="fa fa-check fa-2x"></span>
											{{else}}
												<span class="fa fa-times fa-2x"></span>
											{{/contains}}
										</td>

						        	</tr>
					        	{{/each}}
						    </tbody>
						    {{!-- <tfoot>
						        <tr>
						            <th></th>
						            <th colspan="9">
						                <button class="btn btn-primary float-right" data-toggle="modal" data-target="#useraddModal">Add User</button>
						            </th>
						        </tr>
						    </tfoot> --}}
						</table>

						<div class="modal" id="useraddModal">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">

									<!-- Modal Header -->
									<div class="modal-header text-center">
										<h4 class="modal-title font-weight-bold text-center">Add User</h4>
										<button type="button" class="close" data-dismiss="modal">&times;</button>
									</div>

									<!-- Modal body -->
									<div class="modal-body mx-3">

										<form action="/user/add" method="POST">

											<div class="md-form mb-3">
												{{!-- <i class="fa fa-user prefix grey-text"></i> --}}
												<label for="name">Name</label>
												<input type="text" id="name" class="form-control validate name" name="name" required="">
											</div>

											<div class="md-form mb-3">
												{{!-- <i class="fa fa-user prefix grey-text"></i> --}}
												<label for="email">Email</label>
												<input type="text" id="email" class="form-control validate email" name="email" required="">
											</div>						 

											<div class="md-form mb-3">
												{{!-- <i class="fa fa-user prefix grey-text"></i> --}}
												<label for="phone">Phone No.</label>
												<input type="text" id="phone" class="form-control validate phone" name="phone" required="">
											</div>

											{{!-- <div class="md-form mb-3">
												<label for="level">Level</label>

												{{#each perm as |perms permId|}}
													<label class="custom-control custom-checkbox level_check_{{perms.id}}">
														<input type="checkbox" value="{{perms.id}}" name="level" class="custom-control-input">
														<span class="custom-control-label">
															{{perms.name}}
														</span>
													</label>
												{{/each}}
											</div> --}}

											<!-- Modal footer -->
											<div class="modal-footer">
											    <button id="save" type="submit" class="btn btn-primary">Save</button>
												<button id="close" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
											</div>							

										</form>				

									</div>

								</div>
							</div>
						</div>

						<div class="modal" id="usereditModal">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">

									<div class="modal-header text-center">
										<h4 class="modal-title font-weight-bold text-center">Edit User</h4>
										<button type="button" class="close" data-dismiss="modal">&times;</button>
									</div>

									<div class="modal-body mx-3">

										<form action="/user/edit" method="POST">

											<div class="md-form" hidden="">
												<input type="text" id="user_id" class="form-control validate user_id" name="user_id">
												<input type="text" id="email" class="form-control validate email" name="email">
											</div>

											<div class="md-form mb-3">
												<label for="name">Name</label>
												<input type="text" id="name" class="form-control validate name" name="name" required="">
											</div>				 

											<div class="md-form mb-3">
												<label for="phone">Phone No.</label>
												<input type="text" id="phone" class="form-control validate phone" name="phone" required="">
											</div>

											<div class="md-form mb-3">
												<label for="level">Level</label>

												{{#each perm as |perms permId|}}
													<label class="custom-control custom-checkbox level_check_{{perms.id}}">
														<input id="level_check_{{perms.id}}" type="checkbox" value="{{perms.id}}" name="level" class="custom-control-input">
														<span class="custom-control-label">
															{{perms.name}}
														</span>
													</label>
												{{/each}}
											</div>

											<!-- Modal footer -->
											<div class="modal-footer">
											    <button id="save" type="submit" class="btn btn-primary">Save</button>
												<button id="close" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
											</div>							

										</form>				

									</div>

								</div>
							</div>			
						</div>
					</div>
				</div>

			</div>
		<div>

		<script type="text/javascript">

		const getDetailsWithId = (userDetails) => {
			console.log(userDetails)

			$('#usereditModal .modal-body input#user_id').val(userDetails.user_id);
			$('#usereditModal .modal-body input#name').val(userDetails.name);
			$('#usereditModal .modal-body input#email').val(userDetails.email);
			$('#usereditModal .modal-body input#phone').val(userDetails.phone_1);

			var levels = userDetails.level;
			for(var i in levels){
				$(`#usereditModal .modal-body input#level_check_${ levels[i] }`).attr('checked', 1);
			}

		}

		</script>
  </body>

</html>
