<!doctype html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    </style>
</head>
<body>
<div class="login-container">

    <div class="login-box">
        <div class="login-logo">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	            viewBox="0 0 179.1 92.2" style="enable-background:new 0 0 179.1 92.2;" xml:space="preserve">
                <style type="text/css">
                	.st0{fill:#007746;}
                	.st1{fill:#00BA78;}
                </style>
                <g>
                	<g>
                		<path class="st0" d="M110.2,31.9c0,0,0,7.9,0,10.2s-1,6.9-5.5,6.9c-4.5,0-5.5-2.6-5.5-5.5S100.1,32.9,110.2,31.9z"/>
                		<path class="st1" d="M67.8,26.8c-5.8,0-11.2-2.2-11.2-13.4S66.7,2,71.1,2c4.4,0,9.3,1.1,15.8,8.7c6.5,7.6,11.2,12.9,11.2,12.9
                			s0,10.6,0,16.7s3.6,7.7,7.9,7.7c4.3,0,4.3-5.6,4.3-16.2c0,0,11.3,1.2,11.3,9.4s-1.4,15.8-13.7,15.8s-13.7-5.2-15-6.6
                			c-1.3-1.4-13.1-15.3-13.1-15.3V19.7l-5.8,5.8L67.8,26.8z"/>
                		<path class="st0" d="M68.3,26.2c0,0,0-7.9,0-10.2s1-6.9,5.5-6.9c4.5,0,5.5,2.6,5.5,5.5S78.4,25.2,68.3,26.2z"/>
                		<g>
                			<g>
                				<path d="M110.3,59h-4.8c-3.8,0-7.4-1.2-10.5-3.3c-1.2-0.8-2.3-1.9-3.4-3.2L81.3,40.2l0,5.2c0,7.5-6.1,13.6-13.6,13.6
                					c-7.5,0-13.6-6.1-13.6-13.6V13.9C54.1,6.2,60.3,0,68,0h4.7c3.8,0,7.4,1.2,10.5,3.3c1.2,0.8,2.3,1.9,3.4,3.2l10.4,12.4l0-5.3
                					C96.9,6.1,103,0,110.5,0c7.5,0,13.6,6.1,13.6,13.6v31.5C124.1,52.7,117.9,59,110.3,59z M77.5,29.8l17,20.3
                					c0.9,1.1,1.8,1.9,2.6,2.5c2.4,1.7,5.3,2.6,8.3,2.6h4.8c5.6,0,10.1-4.5,10.1-10.1V13.6c0-5.4-4.4-9.8-9.8-9.8
                					c-5.4,0-9.8,4.4-9.8,9.8l0,15.7l-17-20.3c-0.9-1.1-1.8-1.9-2.6-2.5c-2.4-1.7-5.3-2.6-8.3-2.6H68c-5.6,0-10.1,4.5-10.1,10.1v31.5
                					c0,5.4,4.4,9.8,9.8,9.8c5.4,0,9.8-4.4,9.8-9.8L77.5,29.8z"/>
                			</g>
                			<g>
                				<path d="M104.6,51c-4.3,0-7.7-3.5-7.7-7.7h3.8c0,2.2,1.8,3.9,3.9,3.9c2.2,0,3.9-1.8,3.9-3.9V31.6h3.8v11.7
                					C112.4,47.6,108.9,51,104.6,51z"/>
                			</g>
                			<g>
                				<path d="M124.1,43.3h-3.8c0-5.4-4.4-9.8-9.8-9.8c-5.4,0-9.8,4.4-9.8,9.8l-3.8,0V13.6C96.9,6.1,103,0,110.5,0
                					c7.5,0,13.6,6.1,13.6,13.6V43.3z M110.5,3.8c-5.4,0-9.8,4.4-9.8,9.8v20.3c2.5-2.6,6-4.2,9.8-4.2c3.9,0,7.4,1.6,9.8,4.2V13.6
                					C120.4,8.2,115.9,3.8,110.5,3.8z"/>
                			</g>
                			<g>
                				<g>
                					<path d="M69.7,27.4h-3.8V15.7c0-4.3,3.5-7.7,7.7-7.7c4.3,0,7.7,3.5,7.7,7.7h-3.8c0-2.2-1.8-3.9-3.9-3.9c-2.2,0-3.9,1.8-3.9,3.9
                						V27.4z"/>
                				</g>
                				<g>
                					<path d="M67.7,59c-7.5,0-13.6-6.1-13.6-13.6V15.7h3.8c0,5.4,4.4,9.8,9.8,9.8c5.4,0,9.8-4.4,9.8-9.8l3.8,0v29.7
                						C81.3,52.9,75.2,59,67.7,59z M57.9,25.1v20.3c0,5.4,4.4,9.8,9.8,9.8c5.4,0,9.8-4.4,9.8-9.8V25.1c-2.5,2.6-6,4.2-9.8,4.2
                						C63.8,29.3,60.4,27.7,57.9,25.1z"/>
                				</g>
                			</g>
                		</g>
                	</g>
                	<g>
                		<g>
                			<path d="M0,77.6c0-1,0.8-1.8,1.8-1.8s1.8,0.8,1.8,1.8v0.8c1-1.5,2.5-2.8,4.9-2.8c3.6,0,5.6,2.4,5.6,6.1v8.4c0,1-0.8,1.8-1.8,1.8
                				s-1.8-0.8-1.8-1.8v-7.3c0-2.5-1.2-3.9-3.4-3.9c-2.1,0-3.6,1.5-3.6,3.9v7.3c0,1-0.8,1.8-1.8,1.8c-1,0-1.8-0.8-1.8-1.8V77.6z"/>
                			<path d="M25.8,92.2c-4.6,0-8.1-3.3-8.1-8.2v-0.1c0-4.5,3.2-8.2,7.7-8.2c5,0,7.5,4.1,7.5,7.8c0,1-0.8,1.7-1.7,1.7h-9.9
                				c0.4,2.6,2.2,4,4.6,4c1.5,0,2.7-0.5,3.7-1.4c0.3-0.2,0.5-0.3,0.9-0.3c0.8,0,1.4,0.6,1.4,1.5c0,0.4-0.2,0.8-0.5,1.1
                				C30.1,91.4,28.3,92.2,25.8,92.2z M29.4,82.8c-0.2-2.3-1.6-4.2-4-4.2c-2.2,0-3.8,1.7-4.1,4.2H29.4z"/>
                			<path d="M39.5,90.5l-4.3-12c-0.1-0.2-0.2-0.6-0.2-0.9c0-0.9,0.7-1.7,1.8-1.7c0.9,0,1.5,0.6,1.8,1.4l3.1,9.6l3.1-9.6
                				c0.3-0.8,0.9-1.4,1.9-1.4h0.2c0.9,0,1.6,0.6,1.9,1.4l3.1,9.6l3.1-9.6c0.2-0.8,0.8-1.4,1.8-1.4c1,0,1.7,0.8,1.7,1.7
                				c0,0.3-0.1,0.6-0.2,0.8l-4.3,12.2c-0.4,1.1-1.1,1.6-2,1.6h-0.1c-0.9,0-1.6-0.5-2-1.6l-3.1-9.4l-3.1,9.4c-0.3,1-1.1,1.6-1.9,1.6
                				h-0.1C40.6,92.1,39.9,91.6,39.5,90.5z"/>
                			<path d="M60.9,90.2c-0.4-0.2-0.7-0.7-0.7-1.3c0-0.8,0.6-1.5,1.5-1.5c0.3,0,0.6,0.1,0.8,0.2c1.5,1,3.1,1.5,4.6,1.5
                				c1.6,0,2.5-0.7,2.5-1.7v-0.1c0-1.2-1.7-1.6-3.5-2.2c-2.3-0.7-4.9-1.6-4.9-4.6v-0.1c0-3,2.5-4.8,5.6-4.8c1.7,0,3.4,0.5,5,1.3
                				c0.5,0.3,0.9,0.7,0.9,1.4c0,0.8-0.7,1.5-1.5,1.5c-0.3,0-0.5-0.1-0.7-0.2c-1.3-0.7-2.6-1.1-3.7-1.1c-1.4,0-2.2,0.7-2.2,1.6v0.1
                				c0,1.2,1.7,1.6,3.6,2.2c2.3,0.7,4.9,1.8,4.9,4.6v0.1c0,3.3-2.6,5-5.9,5C65,92.1,62.8,91.5,60.9,90.2z"/>
                			<path d="M75.7,84L75.7,84c0-4.6,3.5-8.3,8.2-8.3c2.5,0,4.2,0.8,5.5,2c0.2,0.2,0.6,0.7,0.6,1.3c0,0.9-0.7,1.6-1.7,1.6
                				c-0.4,0-0.8-0.2-1.1-0.4c-0.9-0.8-1.9-1.3-3.4-1.3c-2.6,0-4.6,2.3-4.6,5v0.1c0,2.8,1.9,5.1,4.7,5.1c1.4,0,2.5-0.6,3.5-1.4
                				c0.2-0.2,0.6-0.4,1-0.4c0.9,0,1.6,0.7,1.6,1.6c0,0.5-0.2,0.9-0.5,1.1c-1.4,1.3-3.1,2.2-5.8,2.2C79.2,92.2,75.7,88.5,75.7,84z"/>
                			<path d="M93.7,77.6c0-1,0.8-1.8,1.8-1.8c1,0,1.8,0.8,1.8,1.8v1.6c0.8-2,2.4-3.5,4-3.5c1.1,0,1.8,0.7,1.8,1.8c0,1-0.6,1.6-1.4,1.7
                				c-2.6,0.4-4.3,2.4-4.3,6.2v4.7c0,1-0.8,1.8-1.8,1.8c-1,0-1.8-0.8-1.8-1.8V77.6z"/>
                			<path d="M104.2,87.3L104.2,87.3c0-3.5,2.7-5.2,6.5-5.2c1.8,0,3,0.3,4.3,0.7v-0.4c0-2.2-1.4-3.4-3.9-3.4c-1.4,0-2.5,0.2-3.5,0.6
                				c-0.2,0.1-0.4,0.1-0.6,0.1c-0.8,0-1.5-0.7-1.5-1.5c0-0.7,0.4-1.2,1-1.4c1.5-0.6,3-0.9,5.1-0.9c2.4,0,4.1,0.6,5.2,1.8
                				c1.2,1.1,1.7,2.8,1.7,4.9v7.8c0,1-0.8,1.7-1.8,1.7c-1,0-1.8-0.7-1.8-1.5v-0.6c-1.1,1.3-2.7,2.3-5.2,2.3
                				C106.9,92.1,104.2,90.4,104.2,87.3z M115.1,86.1V85c-0.9-0.4-2.2-0.6-3.6-0.6c-2.3,0-3.7,1-3.7,2.6v0.1c0,1.5,1.3,2.4,3.1,2.4
                				C113.3,89.5,115.1,88.1,115.1,86.1z"/>
                			<path d="M123.7,79.1h-0.6c-0.8,0-1.5-0.7-1.5-1.5c0-0.8,0.7-1.5,1.5-1.5h0.6v-1.2c0-1.7,0.4-3.1,1.3-3.9c0.8-0.8,2-1.3,3.6-1.3
                				c0.7,0,1.3,0.1,1.8,0.1c0.7,0.1,1.3,0.7,1.3,1.5c0,0.8-0.7,1.5-1.5,1.5c-0.2,0-0.5-0.1-0.7-0.1c-1.4,0-2.1,0.7-2.1,2.4v0.9h2.8
                				c0.9,0,1.5,0.7,1.5,1.5c0,0.8-0.7,1.5-1.5,1.5h-2.8v11.1c0,1-0.8,1.8-1.8,1.8c-1,0-1.8-0.8-1.8-1.8V79.1z"/>
                			<path d="M134.9,87.4v-8.3h-0.6c-0.9,0-1.6-0.7-1.6-1.6c0-0.9,0.7-1.6,1.6-1.6h0.6v-2.7c0-1,0.8-1.8,1.8-1.8c1,0,1.8,0.8,1.8,1.8
                				V76h2.8c0.9,0,1.6,0.7,1.6,1.6c0,0.9-0.7,1.6-1.6,1.6h-2.8v7.8c0,1.4,0.7,2,1.9,2c0.4,0,0.8-0.1,0.9-0.1c0.8,0,1.5,0.7,1.5,1.5
                				c0,0.7-0.4,1.2-1,1.4c-0.8,0.3-1.5,0.4-2.5,0.4C136.8,92.1,134.9,90.9,134.9,87.4z"/>
                			<path d="M148.2,87.5c1.2,0,2.1,0.9,2.1,2.1v0.3c0,1.2-0.9,2.1-2.1,2.1c-1.2,0-2.1-0.9-2.1-2.1v-0.3
                				C146.1,88.4,147,87.5,148.2,87.5z"/>
                			<path d="M154.5,71.7c0-1.1,0.9-1.8,2.1-1.8c1.2,0,2.1,0.7,2.1,1.8v0.2c0,1.1-0.9,1.8-2.1,1.8c-1.2,0-2.1-0.7-2.1-1.8V71.7z
                				 M154.7,77.6c0-1,0.8-1.8,1.8-1.8c1,0,1.8,0.8,1.8,1.8v12.5c0,1-0.8,1.8-1.8,1.8c-1,0-1.8-0.8-1.8-1.8V77.6z"/>
                			<path d="M162.2,84L162.2,84c0-4.6,3.6-8.3,8.4-8.3s8.4,3.7,8.4,8.2v0.1c0,4.5-3.6,8.2-8.5,8.2C165.8,92.2,162.2,88.5,162.2,84z
                				 M175.5,84L175.5,84c0-2.8-2-5.2-4.9-5.2c-2.9,0-4.8,2.3-4.8,5v0.1c0,2.8,2,5.1,4.8,5.1C173.6,89,175.5,86.7,175.5,84z"/>
                		</g>
                	</g>
                </g>
            </svg>
        </div>


        <h3 class="login-title">{{title}}</h3>

        <p>Login With</p>

        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>

    </div>

</div>
</body>
</html> 
