<!DOCTYPE html>
<html>
  <head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>

    {{!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> --}}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">



    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
	<div class="row h-100">
		<div class="row h-100">
			<div class="col-12 col-md-2 p-0 bg-dark fixed-top">
				<nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py">
					<a class="navbar-brand" href="#">Logo</a>
					<ul class="flex-md-column flex-row navbar-nav w-100 justify-content-betwe">
						<li class="nav-item">
							<a class="nav-link" href="#">User Management</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
								Logger
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="/logger/activity">Activity</a>
								<a class="dropdown-item" href="/logger/asset">Asset</a>
								<a class="dropdown-item" href="/logger/story">Story</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/d">
								<span class="fa fa-exchange-alt" style="color: white; display: inline-block;"></span>
							</a>
						</li>
					</ul>
				</nav>
			</div>

    		<h1>{{title}}</h1>

    		<div class="card-block p-0">

				<table class="table table-bordered table-definition mb-5" data-url="/api/user" data-page-list="[5, 10, 20, 50]" data-side-pagination="server" data-toggle="table" data-pagination="true" data-search="true" data-show-refresh="true">

				    <thead class="">
				        <tr>
				            <th></th>
				            <th data-field="name" data-sortable="true">Name</th>
				            <th data-field="datetime_pub">Registration Date</th>
				            <th data-field="phone_1">Phone No.</th>
				            <th data-field="email">E-mail address</th>
			            	{{#each perm}}
			            		<th data-field="level" data-formatter="levelFormatter" id="perm_{{this.id}}" >{{this.name}}</th>	
			            	{{/each}}
				        </tr>
				    </thead>
				    <tbody>
			        	{{#each users as |user userId|}}
			        		{{!-- <tr class="user_{{user.user_id}}">

				        		<td><span class="fa fa-edit fa-2x" data-toggle="modal" data-target="#usereditModal" onclick="getDetailsWithId({{JSONstringify this}})"></span></td>
				        		<td></td>
				        		<td></td>
				        		<td></td>
				        		<td></td>
					            <td>{{user.name}}</td>
					            <td>
					            	{{#if user.datetime_pub}}
					            		{{moment user.datetime_pub format="MM-DD-YYYY"}} 
					            	{{/if}}
					            </td>
					            <td>{{user.phone_1}}</td>
					            <td>{{user.email}}</td>

								<td class="permission_level_1 text-center">
									{{#contains user.level 1}}
										<span class="fa fa-check fa-2x"></span>
									{{else}}
										<span class="fa fa-times fa-2x"></span>
									{{/contains}}
								</td>
								<td class="permission_level_2 text-center">
									{{#contains user.level 2}}
										<span class="fa fa-check fa-2x"></span>
									{{else}}
										<span class="fa fa-times fa-2x"></span>
									{{/contains}}
								</td>
								<td class="permission_level_3 text-center">
									{{#contains user.level 3}}
										<span class="fa fa-check fa-2x"></span>
									{{else}}
										<span class="fa fa-times fa-2x"></span>
									{{/contains}}
								</td>
								<td class="permission_level_4 text-center">
									{{#contains user.level 4}}
										<span class="fa fa-check fa-2x"></span>
									{{else}}
										<span class="fa fa-times fa-2x"></span>
									{{/contains}}
								</td>
								<td class="permission_level_5 text-center">
									{{#contains user.level 5}}
										<span class="fa fa-check fa-2x"></span>
									{{else}}
										<span class="fa fa-times fa-2x"></span>
									{{/contains}}
								</td>
				        		{{!-- <td class="permission_level_1">
					                <label class="custom-control custom-checkbox">
					                    <input type="checkbox" class="custom-control-input">
					                    <span class="custom-control-indicator"></span>
					                </label>
					            </td> --}}

					           {{!--  {{#each ../perm as |perms permId|}}
									<td class="permission_level_{{perms.id}} text-center">
										{{#eq perms.id user.level}}
											<span class="fa fa-check fa-2x"></span>

										{{else}}
											<span class="fa fa-times fa-2x"></span>
										{{/eq}}
									</td>
					            {{/each}} --}}
				        	</tr> --}}

			        	{{/each}}
				    </tbody>
				    <tfoot>
				        <tr>
				            <th></th>
				            <th colspan="9">
				                <button class="btn btn-primary float-right" data-toggle="modal" data-target="#useraddModal">Add User</button>
				            </th>
				        </tr>
				    </tfoot>
				</table>

				<div class="modal" id="useraddModal">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">

							<!-- Modal Header -->
							<div class="modal-header text-center">
								<h4 class="modal-title font-weight-bold text-center">Add User</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>

							<!-- Modal body -->
							<div class="modal-body mx-3">

								<form action="/user/add" method="POST">

									<div class="md-form mb-3">
										{{!-- <i class="fa fa-user prefix grey-text"></i> --}}
										<label for="name">Name</label>
										<input type="text" id="name" class="form-control validate name" name="name" required="">
									</div>

									<div class="md-form mb-3">
										{{!-- <i class="fa fa-user prefix grey-text"></i> --}}
										<label for="email">Email</label>
										<input type="text" id="email" class="form-control validate email" name="email" required="">
									</div>						 

									<div class="md-form mb-3">
										{{!-- <i class="fa fa-user prefix grey-text"></i> --}}
										<label for="phone">Phone No.</label>
										<input type="text" id="phone" class="form-control validate phone" name="phone" required="">
									</div>

									{{!-- <div class="md-form mb-3">
										<label for="level">Level</label>

										{{#each perm as |perms permId|}}
											<label class="custom-control custom-checkbox level_check_{{perms.id}}">
												<input type="checkbox" value="{{perms.id}}" name="level" class="custom-control-input">
												<span class="custom-control-label">
													{{perms.name}}
												</span>
											</label>
										{{/each}}
									</div> --}}

									<!-- Modal footer -->
									<div class="modal-footer">
									    <button id="save" type="submit" class="btn btn-primary">Save</button>
										<button id="close" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
									</div>							

								</form>				

							</div>

						</div>
					</div>
				</div>

				<div class="modal" id="usereditModal">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">

							<div class="modal-header text-center">
								<h4 class="modal-title font-weight-bold text-center">Edit User</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>

							<div class="modal-body mx-3">

								<form action="/user/edit" method="POST">

									<div class="md-form" hidden="">
										<input type="text" id="user_id" class="form-control validate user_id" name="user_id">
										<input type="text" id="email" class="form-control validate email" name="email">
									</div>

									<div class="md-form mb-3">
										<label for="name">Name</label>
										<input type="text" id="name" class="form-control validate name" name="name" required="">
									</div>				 

									<div class="md-form mb-3">
										<label for="phone">Phone No.</label>
										<input type="text" id="phone" class="form-control validate phone" name="phone" required="">
									</div>

									<div class="md-form mb-3">
										<label for="level">Level</label>

										{{#each perm as |perms permId|}}
											<label class="custom-control custom-checkbox level_check_{{perms.id}}">
												<input id="level_check_{{perms.id}}" type="checkbox" value="{{perms.id}}" name="level" class="custom-control-input">
												<span class="custom-control-label">
													{{perms.name}}
												</span>
											</label>
										{{/each}}
									</div>

									<!-- Modal footer -->
									<div class="modal-footer">
									    <button id="save" type="submit" class="btn btn-primary">Save</button>
										<button id="close" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
									</div>							
								</form>				
							</div>
						</div>
					</div>			
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">

	const getDetailsWithId = (userDetails) => {
		console.log(userDetails)

		$('#usereditModal .modal-body input#user_id').val(userDetails.user_id);
		$('#usereditModal .modal-body input#name').val(userDetails.name);
		$('#usereditModal .modal-body input#email').val(userDetails.email);
		$('#usereditModal .modal-body input#phone').val(userDetails.phone_1);

		var levels = userDetails.level;
		for(var i in levels){
			$(`#usereditModal .modal-body input#level_check_${ levels[i] }`).attr('checked', 1);
		}

	}

		var $table = $('#table');
		$(function () { });

		// Handle your authors formatter, looping through the 
		// authors list
		function levelFormatter(value) {
			var levels = ''
			for(var i in value){
				var level = value[i];
				levels += level;
			}
			return levels;
		}

	</script>

  </body>

</html>
