<!doctype html>
<html>
<head>

    {{> head}}
    <title>{{title}}</title>

</head>
<body>

    <div class="container-fluid h-100">

        <div class="row h-100">

            {{> navigation}}

            <div class="col content-container bg-faded py-3">

                <h1>{{title}}</h1>

                <div class="cache-card-block" style="width: 100% !important;">
                    <div class="card">
                        <div class="card-left">
                            <h4 class="card-title">Redis</h4>
                            <p class="card-text">
                                Clear redis cached to force Newscraft to fetch a fresh version of those files from your web server. You can purge files selectively or all at once.
                            </p>

                            <div class="text-right">
                                {{!-- <a href="#" data-toggle="modal" data-target="#cacheModal" class="btn btn-primary">Custom purge</a> --}}
                                {{!-- <a href="#" class="btn btn-danger">Purge All</a> --}}
                            </div>

                        </div>
                        <div class="card-right">
                            <a href="#" data-toggle="modal" data-target="#cacheModal" class="btn btn-primary" id="btn-custom-purge">Custom purge</a>
                            {{!-- <a href="#" class="btn btn-primary" id="btn-purge-all">Purge All</a> --}}
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="modal" id="cacheModal">
            <div class="modal-dialog modal-dialog-centered" style="max-width: 80%">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title font-weight-bold text-center">Custom Purge</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="container">
                        
                        <div class="modal-body">

                            <form action="" method="POST" id="cacheForm">
                            
                                You can purge up to 30 URLs at a time.

                                <br />
                                <br />
                                <b>Redis Guideline Keys:</b>

                                <div>
                                    <code>{stories OR assets}:series={section_str}:{pub_id}:{prop_id}:{offset}:{limit}</code><br />
                                    <code>{stories OR assets}:author={author_str}:{pub_id}:{prop_id}:{offset}:{limit}</code><br />
                                    <code>{stories OR assets}:tag={tag_str}:{pub_id}:{prop_id}:{offset}:{limit}</code><br />
                                    <code>{stories OR assets}:category={category_str}:{pub_id}:{prop_id}:{offset}:{limit}</code><br />
                                    <code>story:{sid}</code><br />
                                    <code>story:{id}</code><br />
                                    <code>story:{_oldbid}</code><br />
                                    <code>content:{id}</code><br />
                                    <code>commentcount_{pub_id}_{sid}</code><br />
                                    <code>views:{pub_id}:{id}</code><br />
                                </div>

                                <br />
                                <b>Separate URL(s) one per line.<br /> Example:</b>
                                
                                <div>
                                    <code>
                                        stories:series=news:7036ebfcf43a34133adef1434c6e6797d5b05af5d670431d747229412b71d3cf:3304c750d8ae081113d5f9a2d32d6f3c44051c3669785629cbdac80f05ade357:0:100<br />
                                        story:475152
                                    </code>
                                </div>

                                <br />

                                <div id="purgeAlert-danger" class="alert alert-danger collapse" role="alert">
                                    Wildcard (*) is not allowed.
                                </div>
                                                                                                
                                <textarea id="purgeTextarea" name="purgeTextarea" class="" rows="5" style="width:100%;" required=""></textarea>

                                <div class="purgeHistory"></div>
                        
                                {{!-- <div class="modal-footer text-right">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Purge</button>
                                </div> --}}
		                        <div class="modal-footer text-right">
		                            <button id="close" type="button" class="btn" data-dismiss="modal">Close</button>
		                            <button type="submit" class="btn btn-primary purge" id="purge">Purge</button>
		                        </div>                                

                            </form>   

                        </div>

                    </div>                    

                    {{!-- <div class="modal-body mx-3">
                        You can purge up to 30 URLs at a time.

                        <br />
                        <br />
                        <b>Redis Guideline Keys:</b>
                        <div class="modal-purge-container">
                            <code>/{stories OR assets}:series={section_str}:{pub_id}:{prop_id}:{offset}:{limit}</code><br />
                            <code>/story:{sid}</code><br />
                            <code>/story:{id}</code><br />
                            <code>/story:{_oldbid}</code><br />
                            <code>/content:{id}</code><br />
                            <code>/commentcount_{pub_id}_{sid}</code><br />
                            <code>/views:{pub_id}:{id}</code><br />
                        </div>
                        <div class="modal-footer text-right">
                            <button id="close" type="button" class="btn" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary purge" id="purge">Purge</button>
                        </div>  
                    </div>  --}}                 

                </div>
            </div>
        </div>s

    </div>

    <div id="purgeAlert-bottom-success" class="alert alert-success collapse purgeAlert-bottom">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <b>Success!</b> Keys purged.
    </div>

    <div id="purgeAlert-bottom-danger" class="alert alert-danger collapse purgeAlert-bottom">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <b>Failed!</b> Please try again.
    </div>    

    <script type="text/javascript">

        $( document ).ready(function() {
            loadRecentPurge()

            $('.recent_key').click(function(e){
                e.preventDefault()
                let key = $(this).attr('data-val')
                let textVal = $('#purgeTextarea').val()
                $('#purgeTextarea').val(`${textVal}${key}\n`)
                return false
            })
        });

        function loadRecentPurge(){
            let lsKey = 'nc.recent.purge'
            let historyKey = JSON.parse(localStorage.getItem(lsKey)) || [];
            let pgHistoryElement = $('.purgeHistory')
            var buf = '<h6>Recently Purged:</h6>'
            buf += '<h5>'
            historyKey.map(items => {
                buf += `<a href="#" class="recent_key badge badge-dark" data-val="${items}">${items}</a>`
            })
            buf += '</h5>'
            pgHistoryElement.html(buf)            
        }

        $("#cacheForm").submit(function(e){
            e.preventDefault();
            var values = [];

            var lines = $('#purgeTextarea').val().split(/\n/);

            var keys = [];
            for (var i=0; i < lines.length; i++) {
                if (/\S/.test(lines[i])) {
                    // var obj = {}
                    // obj.key = $.trim(lines[i])
                    keys.push($.trim(lines[i]));
                }
            }

            var keyV = keyValidation(keys);

            if(!keyV){ $('#purgeAlert-danger').show(); return false; }else{ $('#purgeAlert-danger').hide(); }

            purgeKeys(keys);
            storeRecentPurge(keys);
            loadRecentPurge();
        });

        function storeRecentPurge(keys) {
            let lsKey = 'nc.recent.purge'
            let historyKey = JSON.parse(localStorage.getItem(lsKey)) || [];
            keys.map( item => historyKey.unshift(item))

            localStorage.setItem(lsKey, JSON.stringify(historyKey))
        }

        function purgeKeys(keys){

            var pubID = $.cookie("x-pub-id");
            $('#purgeTextarea').val('')

            $.ajax({
                type: "POST",
                url: "/api/purge",
                contentType: "application/json",
                dataType: 'json',
                headers: {
                    "x-pub-id": `${ pubID }`
                },
                data: JSON.stringify(keys),
                success: function(results){
                    $('#cacheModal').modal('hide');
                    $('#purgeAlert-bottom-success').show();
                    setTimeout(function(){
                        $("#purgeAlert-bottom-success").hide(); 
                    }, 2000);
                },
                error: function(error){
                    console.log(error);
                    $('#cacheModal').modal('hide');
                    $('#purgeAlert-bottom-danger').show();
                    setTimeout(function(){
                        $("#purgeAlert-bottom-danger").hide(); 
                    }, 2000);
                }
            });

        }

        function keyValidation(keys) {
            if( $.inArray("*", keys) !== -1){ return false; }else{ return true; }    
        }

    </script>

</body>
</html> 
