<!doctype html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="dashboard-container">

    <div>
        <h2>Welcome {{user}}!</h2>
        <h3>Please choose publisher below</h3>
        <div class="dashboard-column">
            {{#each publishers}}
                <div class="dashboard-column-item">
                    <label>{{pub_code}}</label>
                    <div class="properties">
                        {{#each this.properties}}
                            <a class="dashboard-card" href="/d/{{../pub_id}}/{{property_id}}">{{language}}</a>
                        {{/each}}
                    </div>
                </div>
            {{/each}}
        </div>

    </div>

</div>
</body>
</html> 
