<!doctype html>
<html>
<head>

    {{> head}}
    <title>{{capitalize title}}</title>

</head>
<body>

    <div class="container-fluid h-100">

        <div class="row h-100">

            {{> navigation}}

            <div class="col content-container bg-faded py-3">

                <h1>{{capitalize title}}</h1>

                <div class="card-block p-0">
                    
                    <div id="toolbar">
                        {{!-- <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle log-dropdown-btn" data-toggle="dropdown">Story</button>
                            <div class="dropdown-menu" id="log-dropdown">
                                <a href="#" class="dropdown-item" data-value="asset">Asset</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item active" data-value="story">Story</a>
                            </div>
                        </div> --}}          
                    </div>

                    <table id="tbl_log" class="table table-bordered mb-5 " data-toggle="table" data-pagination="true" data-show-refresh="true" data-search="true" data-toolbar="#toolbar">
                        <thead class="">
                            <tr>
                                <th class="logDate"data-sortable="true">Date</th>
                                <th class="logID">ID</th>
                                <th class="logUser">User</th>
                                {{#contains title 'activity'}}<th class="logActivity">Language</th>{{/contains}}
                                <th class="logEvent">Event</th>
                            </tr>
                        </thead>

                        <tbody class="dataLog">
                        	{{#if log}}
                                
                        		{{#each log.rows as |logs logID|}}
                            		<tr id="log_{{logs.id}}" data-id="{{logID}}">
                            			<td class="logDate">{{logs.date}}</td>
                            			<td class="logID">
                                            <a href="#" data-toggle="modal" data-target="#logModal" onclick="getDetailsWithId('{{logs.id}}', '{{title}}')">{{logID}}</a>
                                        </td>
                            			<td class="logUser">{{logs.user}}</td>
                                        {{#contains ../title 'activity'}}<td class="logActivity">{{logs.lang}}</td>{{else}}<td class="logActivity">-</td>{{/contains}}
                            			<td class="logEvent">{{logs.event}}</td>
                            		</tr>
                            	{{/each}}
                        	{{/if}}
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="modal" id="logModal">
                <div class="modal-dialog modal-dialog-centered" style="max-width: 70%">
                    <div class="modal-content">

                        <div class="modal-header text-center">
                            <h4 class="modal-title font-weight-bold text-center">Details</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <div class="modal-body">
                            {{!-- <pre></pre> --}}
                            <textarea name="" id="jsonArea" rows="20" style="width: 100%;"></textarea>
                        </div>

                        <div class="modal-footer text-center">
                            <button id="close" type="button" class="btn" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <script type="text/javascript">
        
        // $(".form_date").datetimepicker({
        //     format: "yyyymmdd",
        //     minView: "month"
        // });

        // $('#log-dropdown a').click(function(e){

        //     e.preventDefault();

        //     $('#log-dropdown a').removeClass('active');

        //     $(".log-dropdown-btn").text($(this).text());
        //     $(".log-dropdown-btn").val($(this).text());

        //     $(this).addClass('active');

        //     console.log($(this).attr('data-value'))

        // });

        function getDetailsWithId(id, title){

            var title = $('title').html();
            var pubID = $.cookie("x-pub-id");

            $.ajax({
                type: "GET",
                url: `/api/log/${ title.toLowerCase() }/${ id }`,
                contentType: "application/json",
                dataType: 'json',
                headers: {
                    "x-pub-id": `${ pubID }`
                },
                success: function(results){
                    var payload = JSON.stringify(results, undefined, 2);
                    $('#logModal #jsonArea').html(payload);
                },
                error: function(error){
                    console.log(error);
                }
            });

        }

    </script>

</body>
</html> 
