<!doctype html>
<html>
<head>

    {{> head}}
    <title>{{capitalize title}}</title>

</head>
<body>

    <div class="container-fluid h-100">

        <div class="row h-100">

            {{> navigation}}

            <div class="col content-container bg-faded py-3">
                <div class="" style="position:absolute; right:60px;">
                    <a href="#" onclick="location.reload(true); return false;" class="btn btn-primary">Refresh</a>
                </div>
                <h1>
                    {{capitalize title}}
                    {{#if key}}
                        <a href="/log/activity" style="font-size:18px;">Reset</a>
                    {{/if}}
                </h1>

                <div class="card-block p-0">
                    
                    <div id="toolbar">
                        {{!-- <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle log-dropdown-btn" data-toggle="dropdown">Story</button>
                            <div class="dropdown-menu" id="log-dropdown">
                                <a href="#" class="dropdown-item" data-value="asset">Asset</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item active" data-value="story">Story</a>
                            </div>
                        </div> --}}          
                    </div>

                    <table id="tbl_log" class="table table-bordered">
                        <thead class="">
                            <tr>
                                <th style="width:200px;">Date</th>
                                <th style="width:200px;">User</th>
                                <th>Page</th>
                                <th style="width:200px;">User Agent</th>
                            </tr>
                        </thead>

                        <tbody class="dataLog">
                        	{{#if log}}
                                
                        		{{#each log as |logs logID|}}
                            		<tr id="log_{{logID}}" data-id="{{logID}}">
                            			<td nowrap>{{logs.time_human}}</td>
                            			<td nowrap><a href="/log/activity/{{logs.user}}" style="font-weight:bold;color:rgb({{logs.user_color.red}},{{logs.user_color.green}},{{logs.user_color.blue}});">{{logs.user}}</a></td>
                            			<td>
                                            <textarea style="border:1px dashed #CCC; width:100%; font-family:monospace; padding:3px; height:25px;">{{logs.path}}</textarea>
                                        </td>
                            			<td>
                                            {{!-- <textarea style="border:1px dashed #CCC; width:100%; font-family:monospace; padding:3px; height:25px;">{{logs.browser_human}}</textarea> --}}
                                            <div style="font-size:10px;">{{logs.browser_human}}</div>
                                        </td>
                            		</tr>
                            	{{/each}}
                        	{{/if}}
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="modal" id="logModal">
                <div class="modal-dialog modal-dialog-centered" style="max-width: 70%">
                    <div class="modal-content">

                        <div class="modal-header text-center">
                            <h4 class="modal-title font-weight-bold text-center">Details</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <div class="modal-body">
                            {{!-- <pre></pre> --}}
                            <textarea name="" id="jsonArea" rows="20" style="width: 100%;"></textarea>
                        </div>

                        <div class="modal-footer text-center">
                            <button id="close" type="button" class="btn" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <script type="text/javascript">
        
        // $(".form_date").datetimepicker({
        //     format: "yyyymmdd",
        //     minView: "month"
        // });

        // $('#log-dropdown a').click(function(e){

        //     e.preventDefault();

        //     $('#log-dropdown a').removeClass('active');

        //     $(".log-dropdown-btn").text($(this).text());
        //     $(".log-dropdown-btn").val($(this).text());

        //     $(this).addClass('active');

        //     console.log($(this).attr('data-value'))

        // });

        function getDetailsWithId(id, title){

            var title = $('title').html();
            var pubID = $.cookie("x-pub-id");

            $.ajax({
                type: "GET",
                url: `/api/log/${ title.toLowerCase() }/${ id }`,
                contentType: "application/json",
                dataType: 'json',
                headers: {
                    "x-pub-id": `${ pubID }`
                },
                success: function(results){
                    var payload = JSON.stringify(results, undefined, 2);
                    $('#logModal #jsonArea').html(payload);
                },
                error: function(error){
                    console.log(error);
                }
            });

        }

    </script>

</body>
</html> 
