<!DOCTYPE html>
<html>
  <head>

  	{{> head}}

    <title>{{title}}</title>
    
  </head>

<body>

	<div class="container-fluid h-100">
	  	<div class="row h-100">

	  		{{> navigation}}			  

			<div class="col content-container bg-faded py-3">
				<div class="alert alert-danger" style="display: none;"></div>
				
				<h1>{{title}}</h1>
				<div class="">

					<div id="toolbar">
						<button class="btn btn-primary float-right" data-toggle="modal" data-target="#useraddExistingModal"> <span class="add-user-icon"><svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="user-plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="svg-inline--fa fa-user-plus fa-w-20"><path fill="currentColor" d="M632 224h-88v-88c0-4.4-3.6-8-8-8h-16c-4.4 0-8 3.6-8 8v88h-88c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h88v88c0 4.4 3.6 8 8 8h16c4.4 0 8-3.6 8-8v-88h88c4.4 0 8-3.6 8-8v-16c0-4.4-3.6-8-8-8zm-318.4 64c-28.7 0-42.5 16-89.6 16-47.1 0-60.8-16-89.6-16C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4zM416 464c0 8.8-7.2 16-16 16H48c-8.8 0-16-7.2-16-16v-41.6C32 365.9 77.9 320 134.4 320c19.6 0 39.1 16 89.6 16 50.4 0 70-16 89.6-16 56.5 0 102.4 45.9 102.4 102.4V464zM224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm0-224c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96z" class=""></path></svg></span> Add Existing User</button>
						<button class="btn btn-primary float-right mr-3" data-toggle="modal" data-target="#useraddModal"> <span class="add-user-icon"><svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="user-plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="svg-inline--fa fa-user-plus fa-w-20"><path fill="currentColor" d="M632 224h-88v-88c0-4.4-3.6-8-8-8h-16c-4.4 0-8 3.6-8 8v88h-88c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h88v88c0 4.4 3.6 8 8 8h16c4.4 0 8-3.6 8-8v-88h88c4.4 0 8-3.6 8-8v-16c0-4.4-3.6-8-8-8zm-318.4 64c-28.7 0-42.5 16-89.6 16-47.1 0-60.8-16-89.6-16C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4zM416 464c0 8.8-7.2 16-16 16H48c-8.8 0-16-7.2-16-16v-41.6C32 365.9 77.9 320 134.4 320c19.6 0 39.1 16 89.6 16 50.4 0 70-16 89.6-16 56.5 0 102.4 45.9 102.4 102.4V464zM224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm0-224c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96z" class=""></path></svg></span> Add User</button>
					</div>

					<table id="user-table" style="width:100%" class="table table-bordered table-definition mb-5" data-toggle="table" data-pagination="false" data-search="true" data-toolbar="#toolbar">

					    <thead class="table">
					        <tr>
					            <th class="permission-text name-percent" data-sortable="true"> <div style="padding-left:48px;">Email</div></th>
								<th data-visible="false" data-field="email"></th>
								{{!-- <th class="permission-text name-percent" data-field="name" data-sortable="true"> <div style="padding-left:48px;">Name</div></th> --}}
					            {{!-- <th class="permission-text date-percent" data-sortable="true">Status</th> --}}
								{{!-- <th class="permission-text date-percent" data-sortable="true">Register Date</th> --}}
					            <th class="permission-text date-percent" data-field="last_online" data-sortable="true">Last Online</th>
					            {{!-- <th class="permission-text phone-percent">Phone No.</th> --}}
					            {{!-- <th class="permission-text email-percent">E-mail</th> --}}
				            	{{#each perm}}
				            		<th class="permission-content" data-field="permission_{{this.id}}" id="perm_{{this.id}}">
										<span>{{this.name}}</span>
									</th>	
				            	{{/each}}
					        </tr>
					    </thead>
					    <tbody>
				        	{{#each users.rows as |user userId|}}
				        		<tr id="user-list" class="user-list user_{{user.user_id}} table-head user_status_{{user.status}} table-active" data-toggle="collapse" data-target="#collapse_{{user.user_id}}" data-eid="{{user.user_id}}" data-email="{{user.email}}">
						            <td nowrap>
										<a class="user-edit-icon" data-toggle="modal" data-target="#usereditModal" onclick="getDetailsWithId({{JSONstringify this}})"><svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="pencil" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-pencil fa-w-16"><path fill="currentColor" d="M493.255 56.236l-37.49-37.49c-24.993-24.993-65.515-24.994-90.51 0L12.838 371.162.151 485.346c-1.698 15.286 11.22 28.203 26.504 26.504l114.184-12.687 352.417-352.417c24.992-24.994 24.992-65.517-.001-90.51zm-95.196 140.45L174 420.745V386h-48v-48H91.255l224.059-224.059 82.745 82.745zM126.147 468.598l-58.995 6.555-30.305-30.305 6.555-58.995L63.255 366H98v48h48v34.745l-19.853 19.853zm344.48-344.48l-49.941 49.941-82.745-82.745 49.941-49.941c12.505-12.505 32.748-12.507 45.255 0l37.49 37.49c12.506 12.506 12.507 32.747 0 45.255z" class=""></path></svg></a>
										<strong>{{user.email}}</strong>
									</td>
									<td class="userMail">{{user.email}}</td>
									{{!-- <td nowrap>  --}}
										{{!-- <strong><a href="/log/activity/{{user.email}}">{{user.name}}</a></strong> --}}
									{{!-- </td> --}}
						            {{!-- <td>
										{{#eq user.status 1}}
											<span class="user_status_active">Active</span>
										{{else}}
											<span class="user_status_inactive">Inactive</span>
										{{/eq}}
						            </td> --}}
									{{!-- <td>
						            	{{#if user.datetime_pub}}
						            		{{moment user.datetime_pub format="MM-DD-YYYY"}} 
						            	{{/if}}
						            </td> --}}
						            <td>
										{{#eq user.status 1}}
											<span class="user_status_active">Active</span>
										{{else}}
											<span class="user_status_inactive">Inactive</span>
										{{/eq}} &nbsp;
																				
						            	{{#eq user.last_online_human 0}}
											-
										{{else}}
						            		{{user.last_online_human}}
						            	{{/eq}}						            	
						            </td>
						            {{!-- <td>{{user.phone_1}}</td> --}}
						            {{!-- <td>{{user.email}}</td> --}}
									{{#each ../perm}}
										<td class="permission_level_{{this.id}} text-center">
											{{#contains user.level this.id }}
												<span class="fa fa-check fa-2x"></span>
											{{else}}
												<span class="fa fa-times fa-2x"></span>
											{{/contains}}
										</td>
									{{/each}}

									{{!-- 									
									<td class="permission_level_1 text-center">
										{{#contains user.level 1}}
											<span class="fa fa-check fa-2x"></span>
										{{else}}
											<span class="fa fa-times fa-2x"></span>
										{{/contains}}
									</td>
									<td class="permission_level_2 text-center">
										{{#contains user.level 2}}
											<span class="fa fa-check fa-2x"></span>
										{{else}}
											<span class="fa fa-times fa-2x"></span>
										{{/contains}}
									</td>
									<td class="permission_level_3 text-center">
										{{#contains user.level 3}}
											<span class="fa fa-check fa-2x"></span>
										{{else}}
											<span class="fa fa-times fa-2x"></span>
										{{/contains}}
									</td>
									<td class="permission_level_4 text-center">
										{{#contains user.level 4}}
											<span class="fa fa-check fa-2x"></span>
										{{else}}
											<span class="fa fa-times fa-2x"></span>
										{{/contains}}
									</td>
									<td class="permission_level_5 text-center">
										{{#contains user.level 5}}
											<span class="fa fa-check fa-2x"></span>
										{{else}}
											<span class="fa fa-times fa-2x"></span>
										{{/contains}}
									</td>
									--}}

					        	</tr>

								<tr id="collapse_{{user.user_id}}" class="collapse out">
									<td class="items_collapse" colspan="12">
										<div class="container">
											<div class="row">
												<div class="col-3">
													<span><b>Name</b></span>
												</div>
												<div class="col">
													<span><a href="/log/activity/{{user.email}}">{{user.name}}</a></span>
												</div>
											</div>
											<hr style="border-top: 1px solid white">
											<div class="row">
												<div class="col-3">
													<span><b>Role</b></span>
												</div>
												<div class="col">
													{{#contains ../admin user.email}}
														<span>Admin</span>
													{{else}}
														<span>User</span>
													{{/contains}}
												</div>
											</div>
											<hr style="border-top: 1px solid white">
											<div class="row">
												<div class="col-3">
													<span><b>Latest Activity</b></span>
												</div>
												<div class="col latest_activity">
													<i class="fas fa-spinner fa-pulse fa-lg"></i>
												</div>
											</div>
										</div>
									</td>
								</tr>
				        	{{/each}}
					    </tbody>
					    {{!-- <tfoot>
					        <tr>
					            <th></th>
					            <th colspan="9">
					                <button class="btn btn-primary float-right" data-toggle="modal" data-target="#useraddModal">Add User</button>
					            </th>
					        </tr>
					    </tfoot> --}}
					</table>

					<div class="modal" id="useraddExistingModal">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header text-center">
									<h4 class="modal-title font-weight-bold text-center">Add Existing User</h4>
									<button type="button" class="close" data-dismiss="modal">&times;</button>
								</div>
								<div class="modal-body mx-3">

									<form action="/user/add_existing" method="POST">

										{{!-- <div class="md-form mb-3">
											<label for="email">Select Email:</label>
											<select class="form-control" name="email" id="email" size="auto">
												<option value="" disabled selected>Select email</option>
												{{#each userAll.rows as |users id|}}
													<option value="{{users.id}}*split*{{users.email}}">{{users.email}}</option>
												{{/each}}
											</select>
										</div> --}}
										<div class="md-form mt-0">
											<input class="nc-autocomplete form-control" name="email" id="email" value="" data-provide="typeahead" type="text" placeholder="Email Address">
											<input style="display: none;" name="email_id" class="email_id" value="">
										</div>

										<!-- Modal footer -->
										<div class="modal-footer">
											<button id="close" type="button" class="btn" data-dismiss="modal">Close</button>
										    <button id="save" type="submit" class="btn btn-primary">Save</button>
										</div>							

									</form>				

								</div>								
							</div>
						</div>
					</div>

					<div class="modal" id="useraddModal">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">

								<!-- Modal Header -->
								<div class="modal-header text-center">
									<h4 class="modal-title font-weight-bold text-center">Add User</h4>
									<button type="button" class="close" data-dismiss="modal">&times;</button>
								</div>

								<!-- Modal body -->
								<div class="modal-body mx-3">

									{{!-- action="/user/add" --}}
									<form id="user_add" method="POST" onsubmit="userAdd(); return false;">

										<div class=" mb-3">
											{{!-- <i class="fa fa-user prefix grey-text"></i> --}}
											<label for="name">Name</label>
											<input type="text" id="name" class="form-control validate name" name="name" required="">
										</div>

										<div class="md-form mb-3">
											{{!-- <i class="fa fa-user prefix grey-text"></i> --}}
											<label for="email">Email</label>
											<input type="text" id="email" class="form-control validate email" name="email" required="">
										</div>						 

										<div class="md-form mb-3">
											{{!-- <i class="fa fa-user prefix grey-text"></i> bfh-phone --}}
											<label for="phone">Phone No.</label>
											{{!-- <input type="text" id="phone" class="form-control validate phone" data-country="MY" name="phone" pattern="[+ 0-9]{15}" maxlength="15" required=""> --}}
											<input type="text" id="phone" class="form-control validate phone" data-country="MY" name="phone" maxlength="15" required="">
										</div>

										{{!-- <div class="md-form mb-3">
											<label for="level">Level</label>

											{{#each perm as |perms permId|}}
												<label class="custom-control custom-checkbox level_check_{{perms.id}}">
													<input type="checkbox" value="{{perms.id}}" name="level" class="custom-control-input">
													<span class="custom-control-label">
														{{perms.name}}
													</span>
												</label>
											{{/each}}
										</div> --}}

										<!-- Modal footer -->
										<div class="modal-footer">
											<button id="close" type="button" class="btn" data-dismiss="modal">Close</button>
										    <button id="save" type="submit" class="btn btn-primary">Save</button>
										</div>							

									</form>				

								</div>

							</div>
						</div>
					</div>

					<div class="modal" id="usereditModal">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">

								<div class="modal-header text-center">
									<h4 class="modal-title font-weight-bold text-center">Edit User</h4>
									<button type="button" class="close" data-dismiss="modal">&times;</button>
								</div>

								<div class="modal-body mx-3">

									<form action="/user/edit" method="POST">

										<div class="md-form" hidden="">
											<input type="text" id="user_id" class="form-control validate user_id" name="user_id">
											<input type="text" id="email" class="form-control validate email" name="email">
										</div>

										<div class="md-form mb-3">
											<label for="status">Status</label>
											<select id="status" class="form-control status" name="status">
												<option value="1">Active</option>
												<option value="0">Inactive</option>
											</select>
										</div>	

										<div class="md-form mb-3">
											<label for="name">Name</label>
											<input type="text" id="name" class="form-control validate name" name="name" required="">
										</div>				 

										<div class="md-form mb-3">
											<label for="phone">Phone No.</label>
											<input type="text" id="phone" class="form-control validate phone" name="phone" required="">
										</div>

										<div class="md-form mb-3">
											<label for="level">Level</label>
											<div class="modal-checkbox-container">
												{{#each perm as |perms permId|}}
													<label class="custom-control custom-checkbox level_check_{{perms.id}}">
														<input id="level_check_{{perms.id}}" type="checkbox" value="{{perms.id}}" name="level" class="custom-control-input">
														<span class="custom-control-label">
															{{perms.name}}
														</span>
													</label>
												{{/each}}
											</div>
										</div>

										<!-- Modal footer -->
										<div class="modal-footer">
											<button id="close" type="button" class="btn" data-dismiss="modal">Close</button>
										    <button id="save" type="submit" class="btn btn-primary">Save</button>
										</div>							

									</form>				

								</div>

							</div>
						</div>			
					</div>
				</div>
			</div>

		</div>
	<div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" integrity="sha512-VZ6m0F78+yo3sbu48gElK4irv2dzPoep8oo9LEjxviigcnnnNvnTOJRSrIhuFk68FMLOpiNz+T77nNY89rnWDg==" crossorigin="anonymous"></script>
	<script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
	

	<script type="text/javascript">

		$(document).ready(() => {

			var num = $(".phone").val() + '+60';
			$(".phone").val(num);

			$(".dropdown-menu li").click(function(){
				var selText = $(this).text();
				$(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
			})

			var emails = new Bloodhound({
				// datumTokenizer: Bloodhound.tokenizers.whitespace,
				datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.value) },
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				prefetch: {
					url: '/api/userAll',
					filter: function(response) {
						return $.map(response.rows, function (list){
						 	return { key: list.id, value: list.email }
						})
						return response
					}
				}
			});

			emails.clearPrefetchCache();
			emails.initialize(true)

			$('.nc-autocomplete').typeahead({
				hint: true,
				highlight: true,
				minLength: 1
			}, 
			{
				name: 'value',
				display: 'value',
				limit: 10,
				source: emails
			}).bind('typeahead:select', function(ev, suggestions){
				$('.email_id').val(suggestions.key)
			});

			var $table = $('#user-table');
			var selected_email = $.cookie("selected_email");
			selected_email ? selected_email_in_search($table, selected_email) : ''

			$(".search").append('<span class="fas fa-trash clear-filter"></span>')

			$('.clear-filter').click(function(){
				$table.bootstrapTable('resetSearch')
				$table.bootstrapTable('filterBy', {})
				getLatestActivity()
			})

			$table.on('search.bs.table', function(){ getLatestActivity() })
	
			getLatestActivity()
		})

		const getLatestActivity = () => {
			var $table = $('#user-table');
			var rows = $table.find('.user-list');
			for (var i = 0; i < rows.length; i++) {
				rows[i].onclick = (function() {
					var cnt = i;
					return function() {
						var email = $(this).data('email')
						var eid = $(this).data('eid')
						$.ajax({
							type: 'GET',
							url: `/api/log/activity/${ email }`,
							success: function(data) {
								var activity = data ? data.slice(0, 1) : ''
								$(`#collapse_${ eid } .latest_activity`).html(activity[0] ? activity[0].path : '-')
							},
							error: function(xhr, status, error){
								console.log(error)
							}
						});
					}
				})(i);
			}
		}		

		const selected_email_in_search = (table, selected_email) => {
			$('.search input').val(selected_email)
			table.bootstrapTable('filterBy', { email: selected_email })
			$.removeCookie('selected_email')
		}

		const userAdd = () => {
			var formData = $('#user_add').serialize()
			
			$.ajax({
				type: "POST",
				url: "/user/add",
				data: formData,
				success: function(data) {
					location.reload()
				},
				error: function(xhr, status, error){
					var alertDanger = $('.alert-danger')
					$('#useraddModal').modal('toggle')
					alertDanger.html(xhr.responseText).show()
					setTimeout(function() {
						alertDanger.hide()
					}, 3000);					
				}
			});			
		}

		const getDetailsWithId = (userDetails) => {

			$('#usereditModal .modal-body input#user_id').val(userDetails.user_id);
			$('#usereditModal .modal-body input#name').val(userDetails.name);
			$('#usereditModal .modal-body input#email').val(userDetails.email);
			$('#usereditModal .modal-body input#phone').val(userDetails.phone_1);
			$('#usereditModal .modal-body select#status').val(userDetails.status);

			var levels = userDetails.level;
			for(var i in levels){
				$(`#usereditModal .modal-body input#level_check_${ levels[i] }`).attr('checked', 1);
			}

		}

		// Hide submenus
		$('#body-row .collapse').collapse('hide'); 

		// Collapse/Expand icon
		$('#collapse-icon').addClass('fa-angle-double-left'); 

		// Collapse click
		$('[data-toggle=sidebar-colapse]').click(function() {
		    SidebarCollapse();
		});

		function SidebarCollapse () {
		    $('.menu-collapsed').toggleClass('d-none');
		    $('.sidebar-submenu').toggleClass('d-none');
		    $('.submenu-icon').toggleClass('d-none');
		    $('#sidebar-container').toggleClass('sidebar-expanded sidebar-collapsed');

		    // Treating d-flex/d-none on separators with title
		    var SeparatorTitle = $('.sidebar-separator-title');
		    if ( SeparatorTitle.hasClass('d-flex') ) {
		        SeparatorTitle.removeClass('d-flex');
		    } else {
		        SeparatorTitle.addClass('d-flex');
		    }

		    // Collapse/Expand icon
		    $('#collapse-icon').toggleClass('fa-angle-double-left fa-angle-double-right');
		}

	</script>
</body>

</html>
