<!doctype html>
<html>
<head>

    {{> head}}
    <title>{{title}}</title>

</head>
<body>
    <div class="container-fluid h-100">

        <div class="row h-100">

            {{> navigation}}

            <div class="col content-container bg-faded py-3">
                
                <h1>{{title}}</h1>
                
                <div class="">

                    <div id="toolbar">
                        <button class="btn btn-primary float-right" data-toggle="modal" data-target="#webhookaddModal">Add Webhook</button>
                    </div>

                    <table style="width:100%" class="table table-bordered table-definition mb-5" data-toggle="table" data-pagination="true" data-search="true" data-show-refresh="true" data-toolbar="#toolbar">
                        
                        <thead class="">
                            <tr>
                                <th class="text-center"></th>
                                <th class="status-percent">Status</th>
                                <th class="intent-percent">Intent</th>
                                {{#eq title "story"}}<th class="property-percent">Property</th>{{/eq}}
                                <th class="url-percent">URL</th>
                                <th class="method-percent">Method</th>
                            </tr>
                        </thead>

                        <tbody>
                            {{#each result.rows as |hook hookID|}}
                                
                                <tr class="hook_{{hook._id}}">
                                    <td class="edit-percent">
                                        <span class="user-edit-icon" data-toggle="modal" data-target="#webhookeditModal" onclick="getDetailsWithId({{JSONstringify hook}})"><svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="pencil" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-pencil fa-w-16"><path fill="currentColor" d="M493.255 56.236l-37.49-37.49c-24.993-24.993-65.515-24.994-90.51 0L12.838 371.162.151 485.346c-1.698 15.286 11.22 28.203 26.504 26.504l114.184-12.687 352.417-352.417c24.992-24.994 24.992-65.517-.001-90.51zm-95.196 140.45L174 420.745V386h-48v-48H91.255l224.059-224.059 82.745 82.745zM126.147 468.598l-58.995 6.555-30.305-30.305 6.555-58.995L63.255 366H98v48h48v34.745l-19.853 19.853zm344.48-344.48l-49.941 49.941-82.745-82.745 49.941-49.941c12.505-12.505 32.748-12.507 45.255 0l37.49 37.49c12.506 12.506 12.507 32.747 0 45.255z" class=""></path></svg></span>
                                    </td>
                                    <td>
                                    	{{#eq hook.status 1}}
            	                        	<h5><span class="badge badge-success">Active</span></h5>
                                    	{{else}}	
            	                        	<h5><span class="badge badge-danger">Not-Active</span></h5>
            	                        {{/eq}}
                                    </td>
                                    <td>{{hook.intent}}</td>
                                    {{#eq ../title "story"}}
            	                        {{#each ../properties }}
            	                        	{{#eq hook.property_id this.property_id}}
            	                        		<td>{{uppercase this.language}}</td>
            	                        	{{/eq}}
            	                        {{/each}}
                                    {{/eq}}
                                    <td>{{hook.url}}</td>
                                    <td>{{hook.method}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                        {{!-- <tfoot>
                            <tr>
                                <th></th>
                                <th colspan="5">
                                    <button class="btn btn-primary float-right" data-toggle="modal" data-target="#webhookaddModal">Add Webhook</button>
                                </th>
                            </tr>
                        </tfoot>  --}}           

                    </table>

                    <script type="text/javascript">

                        $( document ).ready(function() {

                            var urlParams = new URLSearchParams(window.location.search);

                            var qs = urlParams.get('e');
                            
                            if(qs == 'Failed'){
                                // $('.alert').show().html(alert);
                                $("#alert-modal").modal('show');
                                $("#alert-modal-label").html('URL exist. Please try again')
                            }

                        });

                    </script>

                    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="alert-modal">
                        <div class="modal-content">
                            
                            <div class="modal-header">
                                <h4 class="modal-title" id="alert-modal-label"></h4>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="modal-btn-no" onclick="location.href = '/webhook/{{title}}';">Close</button>
                            </div>

                        </div>
                    </div>  

                    <div class="modal" id="webhookaddModal">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">

                                <div class="modal-header text-center">
                                    <h4 class="modal-title font-weight-bold text-center">Add Webhook</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <div class="modal-body mx-3">

                                    <form action="/webhook/add" method="POST">
                                    
                                        <div class="md-form mb-3">
                                            <label for="intent">Intent</label>
                                            <select class="form-control" id="intent" name="intent">
                                                {{#eq title "story"}}
                                                    <option>entry_add</option>
                                                    <option>entry_update</option>
                                                    <option>entry_delete</option>
                                                    <option>headline_update</option>
                                               {{else}}
                                                    <option>assets_add</option>
                                                    <option>assets_update</option>
                                                    <option>assets_delete</option>
                                                {{/eq}}
                                            </select>
                                        </div>

                                        <input type="" name="entity" hidden="" value="{{title}}">

                                        {{#eq title "story"}}
                                            <div class="md-form mb-3">
                                                <label for="property">Property</label>
                                                <select class="form-control" id="property" name="property">
                                                    {{#each properties as |pro proID|}}
                                                        <option value="{{pro.property_id}}">{{upcase pro.language}}</option>
                                                    {{/each}}
                                                </select>      
                                            </div>
                                        {{/eq}}

                                        <div class="md-form mb-3">
                                            <label for="url">URL</label>
                                            <input type="text" id="url" class="form-control validate url" name="url" required="">
                                        </div>

                                        <div class="md-form mb-3">
                                            <label for="method">Method</label>
                                            <select class="form-control" id="method" name="method">
                                                <option>GET</option>
                                                <option>POST</option>
                                            </select>                        
                                        </div>

                                        <div class="md-form mb-3">
                                            <label for="status">Status</label>
                                            <br>
                                            <input type="checkbox" name="status" checked data-toggle="toggle" data-on="l" data-off="O" data-onstyle="success" data-offstyle="danger">
                                        </div>

                                        <div class="modal-footer">
                                            <button id="close" type="button" class="btn" data-dismiss="modal">Close</button>
                                            <button id="save" type="submit" class="btn btn-primary">Save</button>
                                        </div>                          

                                    </form>             

                                </div>

                            </div>
                        </div>
                    </div>    

                    <div class="modal" id="webhookeditModal">
                        <div class="modal-dialog modal-dialog-centered">

                            <div class="modal-content">

                                <div class="modal-header text-center">
                                    <h4 class="modal-title font-weight-bold text-center">Edit Webhook</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <div class="modal-body mx-3">

                                    <form action="/webhook/edit" method="POST">

                                        <div class="md-form mb-3">
                                            <label for="intent">Intent</label>
                                            <select class="form-control" id="intent" name="intent">
                                                {{#eq title "story"}}
                                                    <option value="entry_add">entry_add</option>
                                                    <option value="entry_update">entry_update</option>
                                                    <option value="entry_delete">entry_delete</option>
                                                    <option value="headline_update">headline_update</option>
                                                {{else}}
                                                    <option value="assets_add">assets_add</option>
                                                    <option value="assets_update">assets_update</option>
                                                    <option value="assets_delete">assets_delete</option>
                                                {{/eq}}
                                            </select>
                                        </div>

                                        <input type="" name="entity" hidden="" value="{{title}}">
                                        <input type="" id="_id" name="_id" hidden="" value="">

                                        {{#eq title "story"}}
                                            <div class="md-form mb-3">
                                                <label for="property">Property</label>
                                                <select class="form-control" id="property" name="property">
                                                    {{#each properties as |pro proID|}}
                                                        <option value="{{pro.property_id}}">{{upcase pro.language}}</option>
                                                    {{/each}}
                                                </select>      
                                            </div>
                                        {{/eq}}                     

                                        <div class="md-form mb-3">
                                            <label for="url">URL</label>
                                            <input type="text" id="url" class="form-control validate url" name="url" required="">
                                        </div>

                                        <div class="md-form mb-3">
                                            <label for="method">Method</label>
                                            <select class="form-control" id="method" name="method">
                                                <option value="GET">GET</option>
                                                <option value="POST">POST</option>
                                            </select>                        
                                        </div>

                                        <div class="md-form mb-3">
                                            <label for="status">Status</label>
                                            <br>
                                            <input type="checkbox" name="status" checked data-toggle="toggle" data-on="l" data-off="O" data-onstyle="success" data-offstyle="danger">
                                            {{!-- data-toggle="toggle"  --}}
                                        </div>

                                        <div class="modal-footer">
                                            <button id="close" type="button" class="btn" data-dismiss="modal">Close</button>
                                            <button id="save" type="submit" class="btn btn-primary">Save</button>
                                        </div>

                                    </form>

                                </div>

                            </div>

                        </div>
                    </div>            

                </div>

            </div>

        </div>

    </div>

	<script type="text/javascript">

	const getDetailsWithId = (userDetails) => {
		
		var status = userDetails.status;
		if(status == 1){ status = true; }else{ status = false; }

		$('#webhookeditModal .modal-body input#_id').val(userDetails._id);
		$('#webhookeditModal .modal-body select#intent').val(userDetails.intent);
		$('#webhookeditModal .modal-body select#property').val(userDetails.property_id);
		$('#webhookeditModal .modal-body input#url').val(userDetails.url);
		$('#webhookeditModal .modal-body select#method').val(userDetails.method);
		$('#webhookeditModal .modal-body input#status').prop('checked', status);
	
	}

	</script>

</body>
</html> 
