
html,body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
  height: 100%;
}

a {
  color: #00B7FF; }

html {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.table {
    border: none;
}

.table-definition thead th:first-child {
    pointer-events: none;
    background: white;
    border: none;
}

.table td {
    vertical-align: middle;
}

.page-item > * {
    border: none;
}

.custom-checkbox {
  min-height: 1rem;
  padding-left: 0;
  margin-right: 0;
  cursor: pointer; 
}
.custom-checkbox .custom-control-indicator {
content: "";
display: inline-block;
position: relative;
width: 30px;
height: 10px;
background-color: #818181;
border-radius: 15px;
margin-right: 10px;
-webkit-transition: background .3s ease;
transition: background .3s ease;
vertical-align: middle;
margin: 0 16px;
box-shadow: none; 
}
.custom-checkbox .custom-control-indicator:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #f1f1f1;
  border-radius: 21px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
  left: -2px;
  top: -4px;
  -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
  transition: left .3s ease, background .3s ease, box-shadow .1s ease; 
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
background-color: #84c7c1;
background-image: none;
box-shadow: none !important; 
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator:after {
  background-color: #84c7c1;
  left: 15px; 
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-indicator {
box-shadow: none !important; 
}

.fa-check { color: #9DDE15 !important; }
.fa-times { color: #ee3a43 !important; }

.active { background-color: #9DDE15; }
.not-active { background-color: #ee3a43; }
/*# sourceMappingURL=style.css.map */

.content-container{
  margin-left:180px;
  background-color: #eeeeee;
  height:100%;
}

/*navbar*/
.main-logo{
  width:140px;
  padding-bottom:20px;
}

.main-menu{
  height:100vh;
  width:180px;
  background-color: white;
  padding-top:5px;
  border-right:1px solid darkgray;
}

.nav-link{
  padding:10px 0px !important;
}

.nav-icon> svg{
  width:15px;
  margin-right:5px;
}

.logo-text{
  background-color:#00b877;
  color:white;
  font-size:13px;
  float:right;
}

/* login Page*/
.login-container{
  display:flex;
  height:100vh;
  align-items:center;
  justify-content: center;
  position: relative;
  background-color: #f5f5f5;
}


.login-box{
  background-color: white;
  width:350px;
  padding:40px 40px;
  border-radius:5px;
  display:flex;
  flex-direction: column;
  box-shadow: 0 8px 8px rgba(0,0,0,0.15);
}

.login-title{
  text-align: center;
  color:#00b877;
  padding-bottom:40px;
}

.login-logo{
  width:120px;;
  padding:0px;
  margin: auto;
}

.center{
  margin:auto;
  text-align:center;
}

.login-box p{
  text-align: center;
  padding-bottom: 15px;
}

/*user*/
