
html,body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 14px;
  height:100%;
}


a {
  color: #00B788; }


.table {
    border: none;
    border-radius:5px;
}



.table-definition thead th:first-child {
    pointer-events: none;
    background: white;
    border: none;
}

thead th{
  border:0px !important;
  font-size:13px;
  background-color: #eeeeee;
  color: grey;
  padding: 10px 0px !important;
  

}

.table td {
    vertical-align: middle;
    background-color: white;
    vertical-align: middle;
    background-color: white;
    /* border-top: 2px solid #eee; */
    border-bottom: 2px solid #eee;
    border-left: 0px;
    border-right: 0px;
}

.page-item > * {
    border: none;
}

.modal-dialog {
  max-width: 450px;
}

.modal-header{
  border-top:8px solid #00b788;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px 15px 10px 27px;
}

.modal-content {
  border-radius:5px;
}

.modal-footer{
  border:0px;
  padding:1rem 0;
}

#save{
  width:50%; 
}

#close{
  width:50%;
  border: 1px solid #bdbdbd;
}

#close:hover{
  background-color: #f5f5f5;
}



#purge{
  width:50%;
}

button[class="close"]

.custom-checkbox {
  min-height: 1rem;
  cursor: pointer;
}

button.close {
  font-weight: 200;
  font-size: 30px;
}

.custom-control{
  width: 50% !important;  
}

.custom-checkbox .custom-control-indicator {
content: "";
display: inline-block;
position: relative;
width: 30px;
height: 10px;
background-color: #818181;
border-radius: 15px;
margin-right: 10px;
-webkit-transition: background .3s ease;
transition: background .3s ease;
vertical-align: middle;
margin: 0 16px;
box-shadow: none; 
}

.custom-checkbox .custom-control-indicator:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #f1f1f1;
  border-radius: 21px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
  left: -2px;
  top: -4px;
  -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
  transition: left .3s ease, background .3s ease, box-shadow .1s ease; 
}

.custom-control-input:checked~.custom-control-label::before{
  border-color: #00b788;
  background-color: #00b788;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
background-color: #84c7c1;
background-image: none;
box-shadow: none !important; 
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator:after {
  background-color: #84c7c1;
  left: 15px; 
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-indicator {
box-shadow: none !important; 
}

.fa-check { color: #9DDE15 !important; font-size:1.5em; display: inline-block; vertical-align: middle;}
.fa-times { color: #ee3a43 !important; font-size:1.5em; display: inline-block; vertical-align: middle;}

/*# sourceMappingURL=style.css.map */

.content-container{
  margin-left:200px;
  background-color: #eeeeee;
  padding: 50px !important;
  
}

/*navbar*/
.main-logo{
  width: 180px;
  padding-bottom:20px;
  padding-top:10px;
  padding-left: 1rem;
}

.admin-title{
  background-color: #00b877;
  font-size:15px;
  color:white;
  /* padding:10px 15px; */
  margin-bottom: 15px;
  font-weight: 100;
  letter-spacing: 0.22em;
}

.main-menu{
  height:100vh;
  width:200px;
  background-color: white;
  padding-top:5px;
  box-shadow: 3px 0px 8px rgba(0,0,0,0.1)
}


.nav-icon> svg{
  width:15px;
  margin-right:5px;
  display: inline-block;
  vertical-align: middle;
}

.logo-text{
  background-color:#00b877;
  color:white;
  font-size: 9px;
  float:right;
  padding:3px;
  border-radius:4px;
}

.dropdown-menu .show{
 margin-left: 160px;
}

.nav-link{
  padding:10px 0px 10px 15px !important;
  color:#212121 !important;
}

.nav-name{
  display: inline-block;
  vertical-align: middle;
}

.nav-link:hover{
background-color:#eeeeee ;
border-right: 3px solid #00b877;

}

.navbar{
  padding:0px;
}

.navbar-expand .navbar-collapse{
  width:100%;
}

.nav-active{
    background-color: #eeeeee !important;
    border-right: 3px solid #00b877 !important;  
}


#body-row {
  margin-left:0;
  margin-right:0;
}
#sidebar-container {
  min-height: 100vh;   
  padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
  width: 230px;
}
.sidebar-collapsed {
  width: 60px;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
}
.sidebar-submenu {
  font-size: 0.9rem;
}

.list-group-item{
  padding:10px 15px 10px 15px;
  border: 0px !important;
  color:#212121; 
}

.list-group-item-action:hover{
  background-color:#eeeeee !important;
  border-right: 3px solid #00b877 !important;
  padding-right:12px !important;
}


.list-group-child{
  background-color:#f5f5f5;
  padding-left: 40px;
}

.list-group-item-action:focus{
  background-color: #f5f5f5;
}

.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#sidebar-container .list-group .list-group-item .submenu-icon svg{
  transition: all 300ms ease;
  height: 10px;
}


#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon svg{
  transform: rotateZ(90deg)
}


/* login Page*/
.login-container{
  display:flex;
  height:100vh;
  align-items:center;
  justify-content: center;
  position: relative;
  background-color: #f5f5f5;
}


.login-box{
  background-color: white;
  width:350px;
  padding:40px 40px;
  border-radius:5px;
  display:flex;
  flex-direction: column;
  box-shadow: 0 8px 8px rgba(0,0,0,0.15);
}

.login-title{
  text-align: center;
  color:#00b877;
  padding-bottom:40px;
}

.login-logo{
  width:120px;;
  padding:0px;
  margin: auto;
}

.center{
  margin:auto;
  text-align:center;
}

.login-box p{
  text-align: center;
  padding-bottom: 15px;
}

/*user*/
.user-edit-icon>svg{
  width:15px;
  display: inline-block;
  vertical-align: middle;
  color:gray;
  margin:0px 15px;
}

.user-edit-icon>svg:hover{
  color:#00b877;
}

.user-list-row{
  background-color: white;
}

.permission-content{
  height: 110px;
  white-space: nowrap;
  width:2%;
}

.permission-content>div{
  /*transform:  translate(15px, 34px) rotate(315deg);*/
  transform:  translate(15px, 34px) rotate(270deg);
  width: 30px;
}

.permission-content> div > span {
  font-size:12px;
  padding-left: 10px;
}


.bootstrap-table .fixed-table-container .table thead th {
  vertical-align: middle;
  background-color: #eeeeee;
}

.bootstrap-table .fixed-table-container .table thead th .th-inner {
  overflow: unset;
  white-space: nowrap;
  padding:0px;
}

.permission-text{
  vertical-align: bottom !important;
}

.edit-percent{
  width:2%;
  padding: 15px 0px 15px 5px !important;
}
.name-percent{
  width:13%;
  padding: 15px 5px !important;
}

.date-percent{
  width:10%;
  padding: 15px 5px !important;
}

.phone-percent{
  width:10%;
  padding: 15px 5px !important;
}

.email-percent{
  width:15%;
  padding: 15px 5px !important;
}

.fixed-table-toolbar{
  background-color: white;
  padding:5px 15px;
  margin-bottom: 20px;
}

.add-user-icon>svg{
  width:20px;
  display: inline-block;
  vertical-align:middle;
  margin-right:4px;
  margin-bottom:4px;
}

.btn-primary {
  background-color: #00b877;
  border-color: #00b877;
}

.btn-primary:hover {
  background-color: #009E67;
  border-color: #009E67;
}

.page-item.active .page-link{
  background-color: #00b877;
  border-color: #00b877;
  border-radius: 30px;
}

.page-link {
  color: #00b877;
  background-color:transparent;
}

.page-link:hover{
  background-color: transparent;
  color:#00784E;
}

input[placeholder="Search"] {
  width:400px;
  border:0px;
  border-bottom:1px solid darkgrey;
  border-radius:0px;
}

tr:hover{
  background-color: #ccfff1 !important;
}

button[aria-label="Refresh"] {
  background-color: transparent;
  border:0px;
  border-bottom: 1px solid darkgrey;
  color:lightgrey;
  border-radius: 0px;
  padding: 6px 6px;
}

button[aria-label="Refresh"]:hover{
  color:#00b877;
  background-color: transparent;
}

.bootstrap-table .fixed-table-toolbar .columns-right {
  margin-left: 0px;
}

.dropdown-toggle{
  border: 0px;
  color: #00b877;
  background-color: #fafafa;
}

.dropdown-toggle:hover{
  background-color: #e0e0e0;
  color: #00b877;
}

.dropdown-toggle:active{
  background-color: #e0e0e0;
  color: #00b877;
}

.dropdown-item.active{
  background-color: #00b877;
}

th:nth-child(1), td:nth-child(1) {
  /* position: sticky; */
  left: 0px;
}

/*<<<<<<< HEAD*/
.purgeAlert-bottom {
    position: fixed;
    bottom: 0px;
    left: 0%;
    width: 100%;
    z-index: 1030;
}
/*  */
/*=======*/
.modal-checkbox-container{
  display:flex;
  flex-wrap:wrap;
}

/* Dashboard */
.dashboard-card{
  background-color: white;
  font-size: 20px;
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 15px;
  margin: 10px auto;
  width: 500px;
  border-radius: 5px;
  transition: all .3s ease;
  text-decoration: none;
  font-weight: 300;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1)
}

.dashboard-card:hover{
  color: #00b877;
  text-decoration: none;
  transition: all .3s ease;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  width:520px;
  font-weight:300;
}

.dashboard-card:active{
  background-color: #f5f5f5;
  transition: all .3s ease;
}

.dashboard-container{
  background-color:#eeeeee;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
}

.dashboard-column{
  padding-top: 15px;
}

.dashboard-column > div { margin-bottom:0px; border-bottom:1px solid #CCC; padding:10px; }
.dashboard-column > div label { margin-top:5px; font-size:20px; text-transform: uppercase; }
.dashboard-column > div .properties { display:flex; width:400px; }
.dashboard-column > div .properties a { flex:1; display:block; text-align:center; margin-right:20px; text-transform:uppercase; font-size:15px; }

.dashboard-container h2{
  text-align: center;
  font-weight: 300;
  padding-bottom: 30px;
  color:#00b788;
}

.dashboard-container h3{
  color:#616161;
  text-align: center;
}

/* webhook */
.status-percent{
  padding:15px 5px !important;
  vertical-align: middle;
}

.intent-percent{
  padding:15px 5px !important;
}

.url-percent{
  padding:15px 5px !important;
}

.method-percent{
  padding:15px 5px !important;
  text-align: center;
}

.property-percent{
  padding:15px 5px !important;
}

tbody tr td h5{
  margin:auto;
}

input[data-on="l"]{
  padding-bottom:20px;
}

/* custon purge */

.modal-purge-container{
  padding-bottom:20px;
}

.cache-card-block{
  width:70%;
  padding-top:20px;
}

.cache-card-block .card{
  display: flex;
  flex-direction:row;
}

.card-left{
  width: 80%;
  padding: 30px;
}

.card-right{
  width: 20%;
  padding: 30px;
  border-left:1px solid #eeeeee;
  display: flex;
  align-items: center;
}

#btn-custom-purge,#btn-purge-all{
  width:100%;
  margin:5px 0px;
}

/* log */

.logDate{
  width:20%;
  padding: 15px 5px 15px 15px !important;
}

.logID{
  width:5%;
  padding: 15px 5px !important;
}

.logEvent{
  width:6%;
  padding: 15px 15px 15px 5px !important;
}

.logUser{
  width:64%;
  padding: 15px 5px !important;
}
/*>>>>>>> 0574e0f18c9627034ade76e2b21bf62236d081c3*/

#user-table { margin-top: 50px; }

.user_status_active { background-color:rgba(79,197,137,0.4) !important; color:#34BF80 !important; font-size:8px; text-transform:uppercase; font-weight:700; padding:2px 8px; border-radius:10px;}
.user_status_inactive { background-color:rgba(231,75,76,0.4) !important; color:#EA4247 !important; font-size:8px; text-transform:uppercase; font-weight:700; padding:2px 8px; border-radius:10px;}
tr.user_status_0 td { opacity:0.2;}

.change-property-dropdown { margin-top:-5px; margin-left:10px; -webkit-box-shadow: 0px 0px 22px -1px rgba(173,173,173,0.74); -moz-box-shadow: 0px 0px 22px -1px rgba(173,173,173,0.74); box-shadow: 0px 0px 22px -1px rgba(173,173,173,0.74); }

.twitter-typeahead, .tt-hint, .tt-input, .tt-menu { width: 100%; }

.user-list { cursor: pointer; }

.clear-filter { position: absolute; right: 5px; top: 0; bottom: 0; height: 14px; margin: auto; font-size: 14px; cursor: pointer; color: #ccc; }

.items_collapse { background: black !important; color: white; }

.purgeHistory a { margin: 2px; font-size: 60% !important; }